{
  "openapi": "3.0.0",
  "info": {
    "title": "Ozon Seller API 文件",
    "version": 2.1,
    "x-logo": {
      "url": "https://cdn2.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "有关Seller API操作的问题，请通过您的个人中心联系帮助。\n\n> [电商平台操作指南](https://docs.ozon.ru/global/zh-hans/)\n"
  },
  "servers": [
    {
      "url": "//api-seller.ozon.ru"
    }
  ],
  "x-tagGroups": [
    {
      "name": "总描述",
      "tags": [
        "Introduction",
        "Getting started",
        "Auth",
        "Environment",
        "Process",
        "List"
      ]
    },
    {
      "name": "基础方法",
      "tags": [
        "APIkey",
        "CategoryAPI",
        "ProductAPI",
        "BarcodeAPI",
        "Prices&StocksAPI",
        "Promos",
        "PricingStrategyAPI",
        "WarehouseAPI",
        "FBS",
        "PolygonAPI",
        "FBS&rFBSMarks",
        "DeliveryFBS",
        "DeliveryrFBS",
        "Pass",
        "ReturnsAPI",
        "RFBSReturnsAPI",
        "ReturnAPI",
        "CancellationAPI",
        "ChatAPI",
        "SupplierAPI",
        "ReportAPI",
        "AnalyticsAPI",
        "FinanceAPI",
        "SellerRating"
      ]
    },
    {
      "name": "测试方法",
      "tags": [
        "BetaIntro",
        "BetaMethod",
        "Examples",
        "ReviewAPI",
        "FBSWarehouseAPI",
        "Assembly",
        "DeliveryFBPDraft",
        "DraftDirectFBP",
        "DraftDropOffFBP",
        "DraftPickupFBP",
        "OrderDirectFBP",
        "OrderDropOffFBP",
        "OrderPickupFBP",
        "DeliveryFBP"
      ]
    },
    {
      "name": "Premium 方法",
      "tags": [
        "Premium"
      ]
    },
    {
      "name": "错误",
      "tags": [
        "Errors"
      ]
    },
    {
      "name": "推送通知",
      "tags": [
        "push_intro",
        "push_start",
        "push_resending",
        "push_types",
        "service_response"
      ]
    },
    {
      "name": "更新",
      "dataSelector": "tab-news",
      "tags": [
        "News"
      ]
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "x-displayName": "引入",
      "description": "## 什么是 Ozon Seller API\n\nOzon Seller API 是用于与Ozon电商平台合作的编程接口，其使商户系统与Ozon之间的信息交换成为可能。 \n\nSeller API 方法允许您改变商品数据，例如，商品库存或价格，并获取与退换货和仓库列表等相关数据。\n\n使用API包括发送请求和接收响应。为此需要使用位于方法描述上方的  **Console**选项卡, [Postman](https://www.postman.com)\n或者设置与会计系统集成，其包括如 ERP。\n\n## Seller API 何时有用？\n\n当卖家会计系统与卖家API集成时，您可以自动更新和接收数据。这将有助于及时更新有关商品价格和商品库存，在更短的时间内处理更多的订单，\n并消除由于手动输入数据而导致的错误。\n\n例如,您需要更新100件商品库存或价格信息。您可以通过个人中心进行操作，您必须手动更改每张商品卡片上的数据。\n\n方法 [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) 将使您通过一个请求一次性更新100件商品的信息,\n而方法 [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) — 其价格。\n\n## Seller API 功能：\n\n- 上传和更新商品。\n- 管理商品价格和库存。\n- 获取退货信息。\n- 管理订单。\n- 管理聊天。\n- 管理发票。\n- 获取财务和分析信息。\n- 下载Ozon属性和特征。\n\n\n"
    },
    {
      "name": "Getting started",
      "x-displayName": "开始操作",
      "description": "<aside class=\"warning\">\n自 2025年5月16日起，Seller API 仅支持后端到后端调用，浏览器的直接请求将被禁止。\n此类请求会因 CORS 策略而返回错误。\n</aside>\n\n在开始使用 Ozon Seller API 之前:\n\n1. 在 [卖家知识库](https://docs.ozon.ru/global/zh-hans/) 和 [卖家个人中心](https://seller.ozon.ru/app/signin)中学习在Ozon上的操作流程 。\n2. 确定您计划自动化的流程，并与您公司的流程进行对比。\n3. 学习Seller API文档，并制定集成方案。\n\n使用卖家API需要API密钥，详见 [授权](#tag/Auth)模块。\n\nSeller API 按照UTC工作时，注意已发请求和收到含日期、时间的回复。\n\n 使用Seller API的过程可以分为以下模块：\n- 使用属性树，\n- 上传和更新商品，\n- 管理价格，\n- 管理商品库存，\n- 管理FBS和rFBS订单，\n- 发票处理，\n- 管理财务信息，\n- 管理分析信息，\n- 管理退货，\n- 管理聊天。\n"
    },
    {
      "name": "Auth",
      "x-displayName": "授权",
      "description": "<br><aside class=\"warning\"> API 密钥隐藏存储在个人中心中。 您只会在创建 API 密钥时看到它。 请将其保存在安全的地方或立即在您的系统中指明。\n\n您将无法恢复对未保存的 API 密钥的访问。 要继续使用 API，请创建一个新密钥。\n\n如果 Ozon 检测到可疑活动或系统负载过高，则可能撤销密钥。\n</aside>\n\n## 如何获得 Seller API 的权限\n\n1. 请在 [Ozon Seller](https://seller.ozon.ru/app/signup)注册。更多注册信息在 \n   [卖家知识库](https://docs.ozon.ru/global/zh-hans/launch/steps/step-1/)。\n2. 获取API 密钥。\n\n## 如何获取API 密钥\n\n<aside class=\"warning\">\n<b>请不要将API密钥告知外人</b>  \n\nAPI 请求更改您的 Ozon 商店中的数据。 如果外人可以访问密钥，他们将能够控制您的商店。\n</aside>\n\n如何获得API密钥:\n1. 在个人中心，请转入 [**设置 → 卖家 API**](https://seller.ozon.ru/app/settings/api-keys)。\n2. 点击 **生成密钥**。\n3. 请为密钥命名并选择其访问级别。\n4. 点击 **生成**。\n\n您可以创建多个API密钥。例如，如果您有多个具有不同访问级别的用户。\n\n### 编辑密钥\n\n如果您想要更改密钥的允许网络，在[API密钥列表](https://seller.ozon.ru/app/settings/api-keys)中选择所需的密钥并点击 <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/seller-api/edit-key_1682516858.png\" width=\"20\">。\n进行更改后，点击 **更新**。\n\n## API-密钥泄露\n\n1. 在个人中心，请转入 [**设置 → 卖家 API**](https://seller.ozon.ru/app/settings/api-keys)。\n2. 删除当前API 密钥，并创建新密钥。"
    },
    {
      "name": "Environment",
      "x-displayName": "工作环境",
      "description": "## 什么是工作环境？\n\n工作环境就是您的商店。 除信息请求外，所有发送的请求都可以在个人中心和Ozon网站上修改数据。\n\n**工作环境**: api-seller.ozon.ru\n\n创建的商品可以通过此类链接查看： https://www.ozon.ru/context/detail/id/SKU, 此处需要指出创建商品的值来替代SKU。\n## 询问格式\n\n```http\nGET / HTTP/1.1\nHost: api-seller.ozon.ru\nClient-Id: <Client-Id>\nApi-Key: <Api-Key>\nContent-Type: application/json\n```\n\n要检查请求格式的正确性，请使用方法描述上方的 **Консоль** 或者\n[Postman](https://www.postman.com)。"
    },
    {
      "name": "Process",
      "x-displayName": "方法操作顺序",
      "description": "<br><aside class=\"warning\">如果以您的名义出现了很多相同的或错误的请求，我们可以在没有提醒的情况下限制访问Seller API。<br><br> 您在一秒之内只能从一个Client ID向所有方式发送不超过50个请求。</aside>\n\n# 上传Ozon属性和特征\n<br><aside class=\"warning\">要使商品方法正常运作，请匹配您的类别和在Ozon系统中含值的特征。\n\n如果在方法 [/v3/product/import](#operation/ProductAPI_ImportProductsV3) 中您传递的值不是来自Ozon手册，商品将不会被创建或更新。</aside>\n\n1. [/v1/description-category/tree](#operation/DescriptionCategoryAPI_GetTree) —— 获取类别和类型的树状图，并使用所选类别的最后一级的值。\n2. [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes) — 获取选定类别和类型的特性。\n3. [/v1/description-category/attribute/values](#operation/DescriptionCategoryAPI_GetAttributeValues)  — 请获取所选特征的值表。\n\n# 上传和更新商品\n将您的属性和特征与Ozon属性模型对比后，您就可以开始上传商品了：\n1. [/v3/product/import](#operation/ProductAPI_ImportProductsV3) — 上传商品和服务。 该方法还允许更新已加载的商品\n   在请求中设置初始价格和商品图像。对于服务必须指定地理限制。\n\n   在一个请求中最多可发送100件商品。图片通过链接直接上传到云端储存。\n\n   在方法操作结果中，您获得 `task_id` — 上传商品的任务编号。\n\n2. [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo) — 请检查您在上传商品时候收到的 `task_id`\n   方法将返回是否加载成功或导入是否出错的信息。\n\n   如果响应包含商品正在审核的状态，请等待其结果并再次检查商品状态。通常审核需要不到一天的时间。\n\n3. [/v3/product/list](#operation/ProductAPI_GetProductList) — 在上传商品后获得创建商品列表。\n\n   方法将允许使用过滤器，按可见状态分类或通过商品ID跟踪其状态更改。\n\n   该方法返回一对值 `offer_id` 和 `product_id` — 几乎所有请求都需要其识别将执行操作的商品。 如果您通过模板上传商品，请使用此方法获取`offer_id` 和 `product_id`, 以便以后通过API处理商品。\n\n## 请上传和更新商品图片\n如果需要添加商品图片或替换现有图片，请使用：\n1. [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) — 请上传和更新商品图片。图片通过链接直接上传到云储存。\n2. [/v2/product/pictures/info](#operation/ProductAPI_ProductInfoPicturesV2) — 请检查添加商品图像的状态。 该方法将返回图像是否上传成功或上传过程中发生错误的信息。\n\n## 更新商品\n\n为更新商品信息和特征，请使用 [/v3/product/import](#operation/ProductAPI_ImportProductsV3)。\n\n如果只想更新商品功能，请使用 [/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes)。\n\n## 请获取商品信息\n\n- [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) — 请获得商品信息，如条形码、主要报价、类别ID、佣金或审核错误。 \n  通过过滤器 [/v3/product/list](#operation/ProductAPI_GetProductList) 按批次立即获取或按类别获取所有商品列表。\n- [/v3/products/info/attributes](#operation/ProductAPI_GetProductAttributesV3) — 获取商品类型描述。该方法允许您向商品添加附加信息以使商品卡片更加完整。\n- [/v1/product/info/description](#operation/ProductAPI_GetProductInfoDescription) — 获取商品描述，用其创建类似商品。\n- [/v1/product/info/discounted](#operation/ProductAPI_GetProductInfoDiscounted) — 通过打折商品的SKU获取有关减价和主要商品的信息。\n\n## 请删除或者将商品存档\n\n1. [/v2/products/delete](#operation/ProductAPI_DeleteProducts) — 如果加载商品时出现错误并在存档时没有SKU，请删除商品\n   成功通过审核期并获得SKU的商品无法从存档中删除。\n2. [/v1/product/archive](#operation/ProductAPI_ProductArchive) — 请将商品转移到存档中。在商品村当前，请更新库存。\n3. [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive) — 请从存档中恢复商品。\n\n只有当您设置库存时，商品才会开始销售。\n\n## 请管理服务\n\n可以通过方法为服务和数字商品上传激活码 [/v1/product/upload_digital_codes](#operation/ProductAPI_UploadDigitalCode)。\n\n# 请更新商品价格和库存\n如需更新库存，请使用方法 [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2)。在该方法中额外指定必须要更改的库存ID。 \n\n为获得库存量的信息，请使用\n[v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs)。\n\n为更新商品价格而不更改商品卡片，\n请使用 [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices)。\n\n方法允许您更新商品价格：\n- 折扣前，\n- 对 Ozon Premium 的订阅者，\n- 在商品卡片上，考虑到折扣，\n- 使用活动价后的最低商品价。\n\n<aside class=\"warning\">\n如果您将不同类型的促销用于同一商品，商品价格可能会低于最低价。\n</aside>\n\n有关商品价格、佣金和折扣的信息，请使用 [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)。\n\n## 商品预留\n\n如果商品由法人订购，则可能无法立即收到付款，系统将预留商品。\n要检查库存，请使用以下方法[/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) 或[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n如果在回复中 `is_legal = true`,这意味着库存中有已预留的商品。\n您可以更新库存，使新的商品数量大于可用库存和预留商品的总数量。\n系统将注销旧库存并计算新的库存。\n\n为检查预留商品，请使用方式 [/v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs) 或 [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks)。\n\n[库存更改详情](https://docs.ozon.ru/global/zh-hans/fulfillment/stock/)\n\n# 请参加促销活动\n为推广商品，请参加Ozon为买家举办的促销活动中。\n\n- 获取可用促销列表: [/v1/actions](#operation/Promos)。\n- 获取可参与促销的商品列表： [/v1/actions/candidates](#operation/PromosCandidates)。\n- 请将商品添加到促销中： [/v1/actions/products/activate](#operation/PromosProductsActivate)。\n- 获取参与促销的商品列表： [/v1/actions/products](#operation/PromosProducts)。\n- 从促销活动中删除商品： [/v1/actions/products/deactivate](#operation/PromosProductsDeactivate)。\n\n买家可能会要求您为商品打折。\n要获取买家想要以折扣价购买的商品列表，请使用方法 [/v1/actions/discounts-task/list](#operation/promos_task_list)。\n处于`NEW` （新的）或者 `SEEN` （已查看的） 状态的申请您可以：\n- 批准 — 请使用方法 [/v1/actions/discounts-task/approve](#operation/promos_task_approve)，\n- 取消 — 请使用方法 [/v1/actions/discounts-task/decline](#operation/promos_task_decline)。\n\n[有关促销的更多信息详见卖家知识库](https://seller-edu.ozon.ru/docs/how-to-sell-effectively/promo/promo.html)\n\n# 请设置定价策略\n\n定价策略是一种工具，可根据其他在线商店和市场上类似商品的价格自动调整商品价格。\n\n要设置定价策略，请执行以下操作：\n\n1. 请获取竞争对手列表：[/v1/pricing-strategy/competitors/list](#operation/pricing_competitors)。\n\n2. 请获取定价策略列表：[/v1/pricing-strategy/list](#operation/pricing_list)。\n\n3. 请创建您的策略：[/v1/pricing-strategy/create](#operation/pricing_create)，并设置系数，以便将商品价格与其他平台进行比较，价格可向上或向下调整。\n   要获取有关策略的信息，请使用方法 [/v1/pricing-strategy/info](#operation/pricing_info)。\n\n4. 请将商品添加到策略中：[/v1/pricing-strategy/products/add](#operation/pricing_items-add)。\n\n   您可以添加：\n   - 通过[/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) 方法已设置最低价格的商品。\n     要检查价格，请使用方法 [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)。\n   - 没有关联到其他策略的商品。\n     要检查商品与策略的关联，请使用方法 [/v1/pricing-strategy/strategy-ids-by-product-ids](#operation/pricing_ids)。\n\n   若要获取与策略绑定的商品列表，请使用方法 [/v1/pricing-strategy/products/list](#operation/pricing_items-list), 要从策略中删除商品，请使用 —— [/v1/pricing-strategy/products/delete](#operation/pricing_items-delete)。\n\n7. 请启用或禁用策略：[/v1/pricing-strategy/status](#operation/pricing_status)。\n\n要更改所选竞争对手列表和策略名称，请使用方法 [/v1/pricing-strategy/update](#operation/pricing_update)。\n\n要删除策略，请使用方法 [/v1/pricing-strategy/delete](#operation/pricing_delete)。\n\n#  获取库存信息\n- [/v1/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodList) — 获取仓库方法列表。\n- [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList) — 获取仓库列表。\n\n# FBS仓库操作\n\n## 创建新仓库\n\n1. [/v1/warehouse/fbs/create/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForCreateFBSWarehouse)——获取揽收点列表并选择一个以创建仓库。\n2. [/v1/warehouse/fbs/create](#operation/WarehouseAPI_CreateWarehouseFBS)——发送创建新仓库的请求。\n3. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取新仓库创建操作的状态。\n4. [/v2/warehouse/list](#operation/WarehouseListV2)——通过“warehouse_id”获取仓库的详细信息。\n\n## 更新仓库设置\n\n1. [/v1/warehouse/fbs/update](#operation/WarehouseAPI_UpdateWarehouseFBS)——发送仓库设置更新的请求。\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取仓库信息更新的状态。\n\n## 请更新仓库的头程物流\n\n1. [/v1/warehouse/fbs/update/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForUpdateFBSWarehouse)——获取揽收点列表并选择一个以更新仓库信息。\n2. [/v1/warehouse/fbs/first-mile/update](#operation/WarehouseAPI_UpdateWarehouseFBSFirstMile)——发送头程物流更新请求。\n3. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取头程物流更新的状态。\n\n## 将仓库归档\n\n1. [/v1/warehouse/archive](#operation/WarehouseAPI_ArchiveWarehouseFBS)——将仓库归档。\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取仓库归档的状态。\n\n## 从档案中删除仓库\n\n1. [/v1/warehouse/unarchive](#operation/WarehouseAPI_UnarchiveWarehouseFBS)——从档案中删除仓库。\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取仓库解除归档的状态。\n\n# 管理订单\n如果商品销售国外，请根据以下其中一种方案处理订单：\n- [rFBS Crossborder](#section/管理订单/rFBS-Crossborder-模式);\n- [rFBS Crossborder 含集合物流服务 ](#section/管理订单/rFBS-Crossborder-模式含集成物流服务);\n- [rFBS 聚合](#section/管理订单/rFBS-聚合器模式)。\n\n[关于按照rFBS方案工作时的称重商品订单的更多信息](#section/管理订单/如何操作含称重商品的订单-(rFBS))\n\n## rFBS Crossborder 模式\n1. 在开始处理发货前，获取待处理订单（发货）列表： \n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   如果买方为法人, 那么在 `requirements` 的模块将有关于在未指出的订单中指出订单商品原产国的信息。\n   获取可供选择的国家/地区列表 [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2)\n   然后指出有关原产国的信息:[/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2)。\n\n   您还可以收到订单（发货）列表: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)。\n   其允许您使用具有不同状态的过滤器获取所有订单。如果 `with` 段含有 `analytics_data`的值，甚至可以获取数据分析。\n\n   最初，通过API的所有订单都带有状态 `awaiting_packaging`。\n\n   如果`available_actions`参数中显示`set_cutoff`，请使用方法 [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff)\n   来确认发运日期。请确保在参数`shipment_date`指定的日期之前完成操作，该日期可通过以下方法获取：\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)、[/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) 或 [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)。\n   在`shipment_date`日期之后，将无法更新货件日期或进行货件备货操作。\n\n2. 获取更多订单信息: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)。\n\n   在 `requirements` 模块指出：\n    - 哪些商品必须贴上标签;\n    - 是否需要传送货物报关单的编号及该批货物的登记编号 — 该信息可使用以下方法获得  [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)。\n      和 [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   您还可以通过条形码获取其他信息: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode)。\n\n3. 通过 [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet)传输商品数据。\n   请创建商品样本并告知不需要强制性商品标志： `is_mandatory_mark_needed = false`。\n\n4. 在装配时间结束前，确认您已装配订单：[/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4)。\n\n   如有必要，请使用此方法将订单分成若干批次。 例如，如果订单中有多个商品，并且需要包装在不同的盒子中，放置一起不符合包装要求。\n\n   使用该方法后，商品状态将更改为 `awaiting_deliver`。\n\n   您可以使用该方法进行部分装配: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage)。\n\n5. 如果您在送货方式设置中设置了将商品发送到送货服务的时间间隔，请将商品状态更改为 `sent_by_seller` — “由卖家发送”:\n   [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller)。\n\n6. 将商品发送到送货服务后，将商品状态更改为 `delivering` —\n   “配送中”: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering)。\n\n7. 与此同时，如果商品有追踪号，请将其发送: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet)。\n\n8. 当快递员前往买家时，将出发状态更改为“最后一英里”: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile)。\n\n9. 当快递员已将商品交付给买家时，将状态更改为“已送达”: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered)。\n\n## rFBS Crossborder 模式含集成物流服务\n\n1. 在开始处理货件之前，获取未处理订单（货件）列表:\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   如果买方为法人, 那么请在 `requirements` 的模块将有关于在未指出的订单中指出订单商品原产国的信息。 \n   获取可供选择的国家/地区列表[/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2)。\n   然后指出有关原产国的信息: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2)。\n\n   您还可以收到订单（发货）列表: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)。\n   其允许您使用具有不同状态的过滤器获取所有订单。如果 `with` 段含有 `analytics_data`的值，甚至可以获取数据分析。\n\n   最初，通过API的所有订单都带有状态 `awaiting_packaging`。\n\n2. 获取更多订单信息:[/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)。\n\n   在 `requirements` 模块指出:\n    - 哪些商品必须贴上标签;\n    - 是否需要传送货物报关单的编号及该批货物的登记编号 — 该信息可使用以下方法获得  [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      和 [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   您还可以通过条形码获取其他信息: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode)。\n\n3. 通过 [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet)传输商品数据。\n   请创建商品样本并告知不需要强制性商品标志： `is_mandatory_mark_needed = false`。\n\n4. 在装配时间结束前，确认您已装配订单： [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4)。\n\n   如有必要，请使用此方法将订单分成若干批次。 例如，如果订单中有多个商品，并且需要包装在不同的盒子中，放置一起不符合包装要求。\n\n\n   使用该方法后，商品状态将更改为 `awaiting_deliver`。\n\n   您可以使用该方法进行部分装配:[/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage)。\n\n5. 为每件订单打印标签，以便在Ozon系统中识别: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel)。\n\n6. 如果您在送货方式设置中设置了将商品发送到送货服务的时间间隔，请将商品状态更改为 `sent_by_seller` — “由卖家发送”: \n   [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller)。\n\n将货件交付至送货服务。从“配送中”到\"已送达\"的所有状态都将由交付服务传输。\n\n### 取消货件的交付\n1. 在任何阶段使用 [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList),\n   以获得取消订单的原因。\n2. 然后传递该列表和出发号： [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting)。\n\n要取消货件中的部分商品，请使用 [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct)。\n\n如果订单被买方取消，状态将更改为 `cancelled`。\n\n## rFBS 聚合器模式\n1. 在开始处理货件之前，获取未处理订单（货件）列表:\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   如果买方为法人, 那么请在 `requirements` 的模块将有关于在未指出的订单中指出订单商品原产国的信息。 \n   获取可供选择的国家/地区列表[/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2)。 然后指出有关原产国的信息: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2)。\n\n   您还可以收到订单（发货）列表: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)。\n   其允许您使用具有不同状态的过滤器获取所有订单。如果 `with` 段含有 `analytics_data`的值，甚至可以获取数据分析。\n\n   最初，通过API的所有订单都带有状态 `awaiting_packaging`。\n\n2. 获取更多订单信息:[/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)。\n\n   在 `requirements` 模块指出：\n    - 哪些商品必须贴上标签;\n    - 是否需要传送货物报关单的编号及该批货物的登记编号 — 该信息可使用以下方法获得  [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      和 [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   您还可以通过条形码获取其他信息: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode)。\n\n3. 通过 [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet)传输商品数据。\n   请创建商品样本并告知不需要强制性商品标志： `is_mandatory_mark_needed = false`。\n\n4. 在装配时间结束前，确认您已装配订单：[/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4)。\n\n   如有必要，请使用此方法将订单分成若干批次。 例如，如果订单中有多个商品，并且需要包装在不同的盒子中，放置一起不符合包装要求。\n\n   使用该方法后，商品状态将更改为 `awaiting_registration`。\n\n   您可以使用该方法进行部分装配:[/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage)。\n\n5. 当承运人处理货物时，其状态将从 `awaiting_registration` 转到 `awaiting_delivery`。 此后，商品将被分配一个追踪号。\n\n   为每件订单打印标签，以便在Ozon系统中识别: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel)。\n\n   将货件交付至送货服务。从“配送中”到\"已送达\"的所有状态都将由交付服务传输。\n\n## FBP 方案\n\n### 直供\n\n1. [/v1/fbp/warehouse/list](#operation/FbpWarehouseList)——获取合作伙伴仓库列表。\n2. [/v1/fbp/draft/direct/product/validate](#operation/FbpDraftDirectProductValidate)——传递商品清单，检查合作伙伴仓库是否可以接收这些商品。\n3. [/v1/fbp/draft/direct/timeslot/get](#operation/FbpDraftDirectGetTimeslot)——获取直接交货的可用时间段。\n4. 选择配送方法：\n\n   <details>\n   <summary>卖家自送</summary>\n\n   • [/v1/fbp/draft/direct/seller-dlv/create](#operation/FbpDraftDirectSellerDlvCreate)——创建交货申请草稿。<br>\n   • [/v1/fbp/draft/direct/timeslot/edit](#operation/FbpDraftDirectTimeslotEdit)——修改草稿中的交货时间段。<br>\n   • [/v1/fbp/draft/direct/seller-dlv/edit](#operation/FbpDraftDirectSellerDlvEdit)——更新草稿中卖家自送的交货信息。\n\n   </details>\n   <details>\n   <summary>第三方承运服务配送</summary>\n\n   • [/v1/fbp/draft/direct/tpl-dlv/create](#operation/FbpAPI_FbpDraftDirectTplDlvCreate)——创建交货申请草稿。<br>\n   • [/v1/fbp/draft/direct/timeslot/edit](#operation/FbpDraftDirectTimeslotEdit)——修改草稿中的交货时间段。<br>\n   • [/v1/fbp/draft/direct/tpl-dlv/edit](#operation/FbpAPI_FbpDraftDirectTplDlvEdit)——更新草稿中第三方承运服务的配送信息。\n\n   </details>\n\n<style>\ndetails {\n  margin-bottom: 10px;\n  border: 1px solid #ddd;\n  padding: 10px;\n  border-radius: 5px;\n}\nsummary {\n  cursor: pointer;\n  font-weight: bold;\n}\n</style>\n\n5. [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList)——获取草稿列表。\n6. [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet)——获取交货草稿信息。如有错误，请使用 [/v1/fbp/draft/direct/delete](#operation/FbpDraftDirectDelete) 删除草稿。\n7. [/v1/fbp/draft/direct/registrate](#operation/FbpDraftDirectRegistrate)——将交货草稿转为正式申请。\n8. [/v1/fbp/order/direct/timeslot/list](#operation/FbpAPI_FbpAvailableTimeslotList)——获取仓库的最新交货时间段。\n9. [/v1/fbp/order/direct/timeslot/edit](#operation/FbpAPI_FbpEditTimeslot)——修改当前的交货时间段。\n10. [/v1/fbp/order/direct/seller-dlv/edit](#operation/FbpDraftDirectSellerDlvEdit) 或 [/v1/fbp/order/direct/tpl-dlv/edit](#operation/bpAPI_FbpDraftDirectTplDlvEdit)——传递最新的交货信息（无论是自送还是通过承运商）。\n11. [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList)——获取交货列表。\n12. [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet)——获取具体交货信息。如交货申请中有错误，请使用 [/v1/fbp/order/direct/cancel](#operation/FbpAPI_FbpOrderDirectCancel) 取消交货。\n13. [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel)——创建生成标签的任务。\n14. [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel)——获取标签及生成状态。\n15. [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote)——创建生成货物运单的任务。\n16. [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState)——获取货物运单及其生成状态。\n17. [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct)——创建生成接收单的任务。\n18. [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState)——获取接收单及其生成状态。\n19. [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList)——获取已完成交货的列表。\n20. [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet)——获取具体已完成交货的详细信息。\n\n### 交货至合作伙伴订单接收点\n1. [/v1/fbp/warehouse/list](#operation/FbpWarehouseList)——获取合作伙伴仓库列表。\n2. [/v1/fbp/draft/drop-off/product/validate](#operation/FbpDraftDropOffProductValidate)——检查合作伙伴仓库是否可以接收商品。\n3. [/v1/fbp/draft/drop-off/province/list](#operation/FbpDraftDropOffProvinceList)——获取省份列表。\n4. [/v1/fbp/draft/drop-off/point/list](#operation/FbpDraftDropOffPointList)——获取省内接收点列表。\n5. [/v1/fbp/draft/drop-off/point/timetable](#operation/FbpDraftDropOffPointTimetable)——获取接收点的工作时间表。\n6. [/v1/fbp/draft/drop-off/create](#operation/FbpDraftDropOffCreate)——创建 drop-off 交货草稿。\n7. [/v1/fbp/draft/drop-off/dlv/edit](#operation/FbpDraftDropOffDlvEdit)——修改草稿中的 drop-off 交货信息。\n8. [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList)——获取草稿列表。\n9. [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet)——获取具体交货草稿信息。如有错误，请使用 [/v1/fbp/draft/drop-off/delete](#operation/FbpDraftDropOffDelete) 删除。\n10. [/v1/fbp/draft/drop-off/registrate](#operation/FbpDraftDropOffRegistrate)——将草稿转为正式交货申请。\n11. [/v1/fbp/order/drop-off/timetable](#operation/FbpAPI_FbpOrderDropOffTimetable)——获取 drop-off 接收点工作时间表。\n12. [/v1/fbp/order/drop-off/dlv/edit](#operation/FbpAPI_FbpOrderDropOffDlvEdit)——传递 drop-off 接收点的交货信息。\n13. [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList)——获取交货列表。\n14. [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet)——获取具体交货信息。如有错误，请使用 [/v1/fbp/order/drop-off/cancel](#operation/FbpAPI_FbpOrderDropOffCancel) 取消交货。\n15. [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel)——创建生成标签任务。\n16. [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel)——获取标签及生成状态。\n17. [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote)——创建生成货物运单任务。\n18. [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState)——获取货物运单及生成状态。\n19. [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct)——创建生成接收单的任务。\n20. [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState)——获取接收单及其生成状态。\n21. [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList)——获取已完成交货的列表。\n22. [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet)——获取具体已完成交货的详细信息。\n\n### 卖家仓库商品运出\n1. [/v1/fbp/warehouse/list](#operation/FbpWarehouseList)——获取合作伙伴仓库列表。\n2. [/v1/fbp/draft/pick-up/product/validate](#operation/FbpAPI_FbpDraftPickUpProductValidate)——检查合作伙伴仓库是否可以接收商品。\n3. [/v1/fbp/draft/pick-up/create](#operation/FbpAPI_FbpOrderPickUpDlvEdit)——创建 pick-up 交货草稿。\n4. [/v1/fbp/draft/pick-up/dlv/edit](#operation/FbpAPI_FbpOrderPickUpDlvEdit)——修改草稿中的 pick-up 交货信息。\n5. [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList)——获取草稿列表。\n6. [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet)——获取具体交货草稿信息。如有错误，请使用 [/v1/fbp/draft/pick-up/delete](#operation/FbpAPI_FbpDraftPickUpDelete) 删除。\n7. [/v1/fbp/draft/pick-up/registrate](#operation/FbpDraftPickUpRegistrate)——将草稿转为正式交货申请。\n8. [/v1/fbp/order/pick-up/dlv/edit](#operation/FbpAPI_FbpOrderPickUpDlvEdit)——修改 pick-up 接收点信息。\n9. [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList)——获取交货列表。\n10. [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet)——获取具体交货信息。如交货申请中有错误，请使用 [/v1/fbp/order/pick-up/cancel](#operation/FbpAPI_FbpOrderPickUpCancel) 取消交货。\n11. [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel)——创建生成标签的任务。\n12. [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel)——获取标签及生成状态。\n13. [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote)——创建生成货物运单任务。\n14. [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState)——获取货物运单及其生成状态。\n15. [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct)——创建生成接收单的任务。\n16. [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState)——获取接收单及其生成状态。\n17. [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList)——获取已完成交货的列表。\n18. [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet)——获取具体已完成交货的详细信息。\n\n### 取消货件的交付\n1. 在任何阶段使用 [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) , 以获得取消订单的原因。\n2. 然后传递该列表和出发号： [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting)。\n\n要取消货件中的部分商品，请使用 [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct)。\n\n如果订单被买方取消，状态将更改为 `cancelled`。\n\n## 如何操作含称重商品的订单 (rFBS)\n在将含称重商品的订单转移到 “等待装运” — `awaiting_delivery`之前, 请传输有关称重货物重量的确切数据。\n为此，在装配期间称重后，通过方法传递有关每个称重SKU重量信息 [/v2/posting/fbs/product/change](#operation/PostingAPI_CancelFbsPosting)。\n\n如果在创建商品时，您对指定商品进行称重，并向其添加了20577、8933和8934属性，则必须对商品进行称重。\n\n在为所有称重商品副本传递正确重量后，您将能够将货物转移到\"等待装运\"状态 — `awaiting_delivery`。\n\nAPI将返回错误400，如果您:\n\n-并非所有货物的副本都被称重,\n-赋予非称重货物的重量值\n-样本未落在属性8933和8934指定的范围内。\n\n# 档案操作\n- [/v2/posting/fbs/act/list](#operation/PostingAPI_FbsActList) — 获取先前生成的操作列表。\n- [/v2/posting/fbs/act/get-postings](#operation/PostingAPI_ActPostingList) — 获取每个操作清单。\n- [/v2/posting/fbs/digital/act/document-sign](#operation/PostingAPI_DigitalActDocumentSign) — 如果您连接到电子文档管理(EDI)，\n  请就差异和盈余签署电子行为签字。\n\n# 获取退货信息\n- [/v1/returns/list](#operation/returnsList) — 获取根据FBS计划出售的有关退货商品信息。\n\n# 管理取消订单\n获取订单和与订单有关的信息：[/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2)。\n\n对新的取消请求做出决定—确认或拒绝:\n- [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2) — 确认rFBS取消请求。\n  订单将自动取消，钱将退还给买家。\n- [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2) — 拒绝rFBS取消请求。\n  订单将保持相同的状态，并且需要交付给买方。\n\n# 管理rFBS订单退货申请\n\n获取退货申请及其信息：\n\n- [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) — 获取rFBS退货申请的信息。\n- [/v2/returns/rfbs/list](#operation/RFBSReturnsAPI_ReturnsRfbsListV2) — 获取rFBS退货申请列表。\n\n您可以通过方法 [/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet) 批准、赔偿、确认退款，申请商品返检或拒绝退货申请。\n为了传递正确的 `action`，请通过方法 [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) 获取针对具体退货可用的操作列表。\n\n# 管理聊天\n要获取聊天列表，请使用 [/v3/chat/list](#operation/ChatAPI_ChatListV3)。 响应将包含当前聊天和最近消息的ID。\n\n要通过聊天ID发送消息，请使用以下方法:\n- [/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage) — 用于发送短信。\n- [/v1/chat/send/file](#operation/ChatAPI_ChatSendFile) — 用于发送文件和图片。\n\n要通过聊天ID或消息获取聊天历史记录，请使用 [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3) 默认的排序方向是从新邮件到旧邮件。\n\n如果指定消息ID，则聊天记录将从此消息开始。\n\n按照出发号码创建与买家的新聊天,请使用 [/v1/chat/start](#operation/ChatAPI_ChatStart)。\n\n将消息及其之前的所有消息标记为已读,请使用 [/v2/chat/read](#operation/ChatAPI_ChatReadV2)。\n\n# 接收及核对发票\n\n1. 按出发编号获取发票列表： [/v1/supplier/orders/{orderId}/waybill_acceptance_results](#operation/SupplierAPI_SupplierContractorsWaybillAcceptance)。\n   响应将包含发票ID，可用于检查验收结果。\n2. 通过发票ID检查验收结果：[/v1/supplier/waybill_acceptance_results/{waybillId}](#operation/SupplierAPI_SupplierContractorsWaybillAcceptanceWaybillId)。\n\n# 创建和接收报告\n请求任何报告时，首先返回用于文档创建代码。 在[/v1/report/info](#operation/ReportAPI_ReportInfo)的请求中发送它 — 报告文件和其他信息将在响应中返回。 \n要获取先前生成的报告列表，请使用 [/v1/report/list](#operation/ReportAPI_ReportList)。\n\n获取报告的方法:\n- [/v1/report/products/create](#operation/ReportAPI_CreateCompanyProductsReport) — 包含商品数据的报告，例如，OZON ID、商品描述、价格、佣金或包装尺寸。\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — 商家个人帐户中提供的交易报告。\n- [/v4/product/info/price](#operation/ProductAPI_GetProductInfoPricesV4) — 价格报告。\n- [/v1/report/warehouse/stock](#operation/ReportAPI_CreateStockByWarehouseReport) — 库存报告。\n- [/v2/report/returns/create](#operation/ReportAPI_ReportReturnsCreate) — FBS和rFBS的商品退货报告。 该报告包含从买方接受的货物，准备接收或转移给卖方。\n- [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) — 发货报告。\n- [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList) — 财务报告。\n- [/v1/report/discounted/create](#operation/ReportAPI_CreateDiscountedReport) — 减价商品报告.\n\n# 获取分析报告\n- [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData) — 获取分析数据。\n\n  如果指定要计算的周期和指标，则响应将包含按`dimensions` 参数分组的分析。\n\n# 获取财务报告\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — 获取要发送的交易详细信息。\n- [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) — 获取有关指定期间的交易总额。\n"
    },
    {
      "name": "APIkey",
      "x-displayName": "API密钥相关信息"
    },
    {
      "name": "CategoryAPI",
      "x-displayName": "Ozon 的属性和特征"
    },
    {
      "name": "ProductAPI",
      "x-displayName": "商品上传和更新"
    },
    {
      "name": "BarcodeAPI",
      "x-displayName": "商品条形码列表"
    },
    {
      "name": "Prices&StocksAPI",
      "x-displayName": "商品价格和库存"
    },
    {
      "name": "Promos",
      "x-displayName": "促销活动",
      "description": "为了推广商品，参加Ozon为买家举办的促销活动。\n阅读更多关于促销活动的信息 [卖家知识库](https://docs.ozon.ru/global/zh-hans/promotion/promotions/promo/)。"
    },
    {
      "name": "PricingStrategyAPI",
      "x-displayName": "定价策略"
    },
    {
      "name": "WarehouseAPI",
      "x-displayName": "仓库"
    },
    {
      "name": "FBS",
      "x-displayName": "FBS和rFBS订单处理"
    },
    {
      "name": "FBS&rFBSMarks",
      "x-displayName": "FBS/rFBS标志代码和订单备货管理"
    },
    {
      "name": "DeliveryFBS",
      "x-displayName": "FBS配送"
    },
    {
      "name": "DeliveryrFBS",
      "x-displayName": "rFBS配送"
    },
    {
      "name": "Pass",
      "x-displayName": "通行证"
    },
    {
      "name": "ReturnsAPI",
      "x-displayName": "FBO和FBS商品退货"
    },
    {
      "name": "RFBSReturnsAPI",
      "x-displayName": "rFBS商品退货"
    },
    {
      "name": "CancellationAPI",
      "x-displayName": "取消订单"
    },
    {
      "name": "PolygonAPI",
      "x-displayName": "多边形"
    },
    {
      "name": "ChatAPI",
      "x-displayName": "与买家的聊天",
      "description": "更多方法请见[**Premium方法**](#tag/Premium)。"
    },
    {
      "name": "SupplierAPI",
      "x-displayName": "货单"
    },
    {
      "name": "ReportAPI",
      "x-displayName": "报告"
    },
    {
      "name": "AnalyticsAPI",
      "x-displayName": "分析报告",
      "description": "更多方法请见[**Premium方法**](#tag/Premium)。"
    },
    {
      "name": "FinanceAPI",
      "x-displayName": "财务报告",
      "description": "更多方法请见[**Premium方法**](#tag/Premium)。"
    },
    {
      "name": "AccessTokenAPI",
      "x-displayName": "API的令牌"
    },
    {
      "name": "News",
      "x-displayName": "更新",
      "description": "## 2025年12月15日\n\n| 方法                                                                         | 变更内容                                      |\n|-------------------------------------------------------------------------------|-----------------------------------------------------|\n| [/v1/warehouse/warehouses-with-invalid-products](#operation/WarehouseWithInvalidProducts)                            | 新增用于获取在 FBS 配送中存在配送限制商品的仓库列表的 beta 方法。 |\n\n## 2025年12月12日\n\n| 方法                                                                         | 变更内容                                      |\n|-------------------------------------------------------------------------------|-----------------------------------------------------|\n| [/v1/finance/balance](#operation/GetFinanceBalanceV1)                            | 新增了用于获取余额报告的测试版方法。 |\n| [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList)                             | 更新了方法描述。                           |\n| [/v1/returns/list](#operation/returnsList)  | 移除了方法请求中参数 `filter.visual_status_name` 的值 `ReturnCompensated`。    |\n\n## 2025年12月4日\n\n| 方法                                                                                                                                                                  | 变更内容                     |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------|\n| [/v1/product/stairway-discount/by-quantity/set](#operation/ProductAPI_SetProductStairwayDiscountByQuantity)  | 新增用于管理按商品数量计算折扣的测试方法。    |  \n| [/v1/product/stairway-discount/by-quantity/get](#operation/ProductAPI_GetProductStairwayDiscountByQuantity)  | 新增用于获取按商品数量计算折扣信息的测试方法。  |\n\n\n## 2025年11月27日\n\n| 方法                                                                                                                                                          | 变更内容                                                                                                                                                                                                      |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | 在方法的响应中：<ul><li>更新了参数 `result.analytics_data.payment_type_group_name` 的描述；</li><li>新增了参数 `result.analytics_data.client_delivery_date_begin` 和`result.analytics_data.client_delivery_date_end`。</li></ul>  |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 在各方法的响应中：<ul><li>更新了参数 `result.analytics_data.payment_type_group_name` 的描述；</li><li>新增了参数 `result.analytics_data.client_delivery_date_begin` 和`result.analytics_data.client_delivery_date_end`。</li></ul> |   \n\n## 2025年11月25日\n\n| 方法                                                                              | 变更内容     |\n|---------------------------------------------------------------------------------|----------|\n| [/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes)  | 更新了方法描述。 |\n\n## 2025年11月21日\n\n| 方法                                                                    | 变更内容                                        |\n|-----------------------------------------------------------------------|---------------------------------------------|\n| —                                                                     | 添加了用于处理FBP交付的[测试方法](#tag/DeliveryFBPDraft)。 |\n| [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks) | 更新了方法响应中的 `items.stocks.type` 参数描述。         |    \n\n## 2025年11月20日\n\n| 方法                                                                                                                                                                  | 变更内容                                                                                       |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------|\n| [/v1/rating/index/fbs/info](#operation/RatingAPI_GetFBSRatingIndexInfoV1)<br>[/v1/rating/index/fbs/posting/list](#operation/RatingAPI_ListFBSRatingIndexPostingsV1) | 新增了用于处理错误指数的测试版方法：FBS  和 rFBS。                                                             |    \n| [/v1/returns/list](#operation/returnsList)                                                                                                                          | 已添加参数 `filter.compensation_status_id`到方法请求。<br>在方法的响应中添加了参数 `returns.compensation_status`。 |    \n\n## 2025年11月18日\n\n| 方法                                                                             | 变更内容                                |\n|--------------------------------------------------------------------------------|-------------------------------------|\n| [/v1/report/info](#operation/ReportAPI_ReportInfo)      | 在方法的响应中新增参数`result.expires_at`。  |    \n| [/v1/report/list](#operation/ReportAPI_ReportList)  | 在方法的响应中新增参数`result.reports.expires_at`。  |\n\n## 2025年11月13日\n\n| 方法                                                                                                                                                                                                                                                                                  | 变更内容               |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------|\n| [/v1/analytics/average-delivery-time](#operation/AnalyticsAPI_AverageDeliveryTime) <br> [/v1/analytics/average-delivery-time/details](#operation/AnalyticsAPI_AverageDeliveryTimeDetails) <br> [/v1/analytics/average-delivery-time/summary](#operation/AverageDeliveryTimeSummary) | 已将该方法从Beta版迁移至正式版。 |  \n\n## 2025年11月12日\n\n| 方法                                                                             | 变更内容                                |\n|--------------------------------------------------------------------------------|-------------------------------------|\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList)      | 在方法回答该`items.marketing_price`参数已过期，我们已将其从文件中删除。  |    \n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)  | 在方法回答该`price.marketing_price`参数已过期，我们已将其从文件中删除。  |\n\n## 2025年11月11日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        | 变更内容            |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------|\n| [/v1/search-queries/text](#operation/SearchQueriesAPI_SearchQueriesText)<br>[/v1/search-queries/top](#operation/SearchQueriesAPI_SearchQueriesTop)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        | 已新增用于处理搜索查询的方法。 |\n| [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData)<br>[/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage)<br>[/v1/chat/send/file](#operation/ChatAPI_ChatSendFile)<br>[/v1/chat/start](#operation/ChatAPI_ChatStart)<br>[/v3/chat/history](#operation/ChatAPI_ChatHistoryV3)<br>[/v2/chat/read](#operation/ChatAPI_ChatReadV2)<br>[/v1/finance/realization/by-day](#operation/FinanceAPI_GetRealizationByDayReportV1)<br>[/v1/review/comment/create](#operation/ReviewAPI_CommentCreate)<br>[/v1/review/comment/delete](#operation/ReviewAPI_CommentDelete)<br>[/v1/review/comment/list](#operation/ReviewAPI_CommentList)<br>[/v1/review/change-status](#operation/ReviewAPI_ReviewChangeStatus)<br>[/v1/review/count](#operation/ReviewAPI_ReviewCount)<br>[/v1/review/info](#operation/ReviewAPI_ReviewInfo)<br>[/v1/review/list](#operation/ReviewAPI_ReviewList) | 更新了方法描述。        |\n\n## 2025年11月1日\n\n| 方法 | 变更内容 |\n|-------|----------------|\n| [/v1/assembly/carriage/posting/list](#operation/AssemblyCarriagePostingList) <br> [/v1/assembly/carriage/product/list](#operation/AssemblyCarriageProductList) <br> [/v1/assembly/fbs/posting/list](#operation/AssemblyFbsPostingList) <br> [/v1/assembly/fbs/product/list](#operation/AssemblyFbsProductList) | 已新增用于处理 FBS 拣货单的测试方法。|\n\n## 2025年10月28日\n\n| 方法                                                                             | 变更内容                                |\n|--------------------------------------------------------------------------------|-------------------------------------|\n| [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) | 更新了方法请求中的 `filter.is_express` 参数描述。 |\n\n## 2025年10月23日\n\n| 方法 | 变更内容 |\n|-------|---------------|\n| [/v1/report/marked-products-sales/create](#operation/CreateCompanyMarkedProductsSalesReport) | 添加了用于获取带有标记商品销售报告的beta方法。 |\n| [/v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs) | 在请求中添加了参数 `offer_id`，并在方法响应中添加了参数 `results.offer_id`。 |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | 更新了方法响应中的 `result.substatus` 参数描述。                                                                                                                                                  |    \n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)<br>[/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | 更新了方法响应中的 `result.postings.substatus` 参数描述。                                                                                                                                         |\n| [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4)<br>[/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage)               | 更新了方法描述。                                                                                                                                                                            |\n| —                                                                                                                                                           | 在[**错误**](#tag/Errors)板块中，已为[/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices)方式添加了错误描述：`error limiting: acquire limit per item: items limit: limit exceeded`。 |\n\n## 2025年10月22日\n\n| 方法                                                                      | 变更内容                                                         |\n|-------------------------------------------------------------------------|--------------------------------------------------------------|\n| [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) | 已添加参数 `prices.manage_elastic_boosting_through_price` 到方法请求。  |\n\n## 2025年10月21日\n\n| 方法 | 变更内容 |\n|------|----------|\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 在方法的响应中添加了参数`result.postings.shipment_date_without_delay`。 |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3) | 在方法的响应中添加了参数 `result.shipment_date_without_delay`。 |\n| — | 在 [**Ozon发送的通知 → 新的发货**](#section/新的发货) 部分中，更新了新发货通知的示例。 |\n\n## 2025年10月17日\n\n| 方法                                                                           | 变更内容                                                                                                                                                     |\n|--------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/warehouse/fbs/create/drop-off/timeslot/list](#operation/WarehouseFbsCreateDropOffTimeslotList) <br> [/v1/warehouse/fbs/update/drop-off/timeslot/list](#operation/WarehouseFbsUpdateDropOffTimeslotList) <br> [/v1/warehouse/fbs/create/pick-up/timeslot/list](#operation/WarehouseFbsCreatePickUpTimeslotList) <br> [/v1/warehouse/fbs/update/pick-up/timeslot/list](#operation/WarehouseFbsUpdatePickUpTimeslotList)| 新增了与时间段相关的Beta方法。                                                                                                                                        |\n|[/v2/warehouse/list](#operation/WarehouseListV2) | 已在方式响应中添加了 `warehouses.cut_in_time`, `warehouses.warehouse_type`, `warehouses.is_comfort` 和 `warehouses.is_express` 参数。|\n| [/v1/warehouse/fbs/create](#operation/WarehouseAPI_CreateWarehouseFBS) <br> [/v1/warehouse/fbs/first-mile/update](#operation/UpdateWarehouseFBSFirstMile)| 在方法请求中新增了参数 `cut_in_time` 和 `timeslot_id`。   |\n\n## 2025年10月16日\n\n| 方法                                                                                                                                                         | 变更内容                                                                 |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                               | 更新了方法响应中的 `result.financial_data.products.product_id` 参数描述。          |    \n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 更新了方法响应中的 `result.postings.financial_data.products.product_id` 参数描述。 |\n| [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5)                                                     | 更新了方法响应中的 `products.exemplars.marks` 参数描述。                           |\n| [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6)                                                               | 更新了方法请求中的 `products.exemplars.marks` 参数描述。                           |\n| [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode)                                                                             | 已从方法响应中移除参数 `result.analytics_data` 和 `result.financial_data`。 |\n| [/v3/chat/list](#operation/ChatAPI_ChatListV3)                                                                                                             | 更新了该方法请求中参数 `limit` 的描述。  |\n\n## 2025年10月14日\n\n| 方法                                                                              | 变更内容                                                                              |\n|---------------------------------------------------------------------------------|-----------------------------------------------------------------------------------|\n| [/v2/finance/realization](#operation/FinanceAPI_GetRealizationReportV2)         | 参数 `result.header.doc_amount` 和 `result.header.vat_amount`即将废弃，将于2025年12月14日停止支持。 |    \n| [/v1/finance/realization/posting](#operation/FinanceAPI_GetRealizationReportV1) | 参数 `header.doc_amount` 和 `header.vat_amount`即将废弃，将于2025年12月14日停止支持。               |\n\n## 2025年10月10日\n\n| 方法 | 变更内容                                                                                        |\n|----|---------------------------------------------------------------------------------------------|\n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)  | 已在方式响应中添加了`items.comissions.sales_percent_fbp`和`items.comissions.sales_percent_rfbs`参数。<br>在方法响应的 `SUPER` 参数中，新增可能的值 `items.price_indexes.color_index`。 |\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList)     | 在方法响应的 `COLOR_INDEX_SUPER` 参数中，新增可能的值 `items.price_indexes.color_index`。                    |\n\n\n## 2025年10月9日\n\n| 方法 | 变更内容                                                                                                |\n|----|-----------------------------------------------------------------------------------------------------|\n| —  | 新增了以下模块的说明： [**与买家的聊天**](#tag/ChatAPI)，[**分析报告**](#tag/AnalyticsAPI) 和 [**财务报告**](#tag/FinanceAPI)。 |\n\n## 2025年10月8日\n\n| 方法                                                                         | 变更内容                                        |\n|----------------------------------------------------------------------------|---------------------------------------------|\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3)               | 更新了该方法请求中参数 `items.images` 的描述。<br>更新了方法描述。 |\n| [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) | 更新了该方法请求中参数 `images` 的描述。<br>更新了方法描述。       |\n\n## 2025年10月7日\n\n| 方法                                                                       | 变更内容                       |\n|-----------------------------------------------------------------------------|----------------------------|\n| [/v1/product/info/warehouse/stocks](#operation/ProductInfoWarehouseStocks) | 新增了用于获取FBS和rFBS仓库库存的测试方法。  |\n\n## 2025年10月6日\n\n| 方法                                                                     | 变更内容                                                       |\n|------------------------------------------------------------------------|------------------------------------------------------------|\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList)      | 参数 `items.marketing_price` 即将废弃，我们将于2025年11月12日关闭该参数。      |\n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)  | 参数 `items.price.marketing_price` 即将废弃，我们将于2025年11月12日关闭该参数。 |\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) | 在方法响应中新增了参数 `items.availabilities`。 |\n\n## 2025年10月1日\n\n| 方法                                                           | 变更内容                          |\n|--------------------------------------------------------------|-------------------------------|\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3) | 更新了该方法请求中参数 `items.name` 的描述。 |\n\n## 2025年9月29日\n\n| 方法                                                                                                                                                    | 变更内容                                                                                                                                                 |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)<br>[v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | 已在方式响应中添加了`result.postings.products.imei`和`result.postings.requirements.products_requiring_imei`参数。                                     |\n| [v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                              | 已在方式响应中添加了`result.products.has_imei`, `result.product_exemplars.products.exemplars.imei`和`result.requirements.products_requiring_imei`参数。 |\n| [v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6)                                            | 已更新`products.exemplars.marks`参数的描述，并在方式响应中添加了`products.has_imei`参数。                                                    |\n| [v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5)                                                    | 已更新该方式的请求与响应中`products.exemplars.marks`参数的描述。                                                                                 |\n| [v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6)                                                                    | 更新了方法请求中`products.exemplars.marks`参数的描述。                                                                                        |\n| [v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) | 更新了方法响应中`products.exemplars.marks`参数的描述。                                                                                           |\n| [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) | 已添加以下参数`filter.warehouse_id`、`filter.delivery_method_id`、`filter.is_express`、`with.additional_data`、`with.analytics_data`、`with.customer_data` 和 `with.jewelry_codes` 到方法请求。 |\n\n## 2025年9月24日\n\n| 方法 | 变更内容                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |\n|---|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/returns/rfbs/list](#operation/RFBSReturnsAPI_ReturnsRfbsListV2)                                                                        | 更新了该方法请求中参数 `last_id` 的描述。<br>已更新回答示例。 |\n| [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2)<br>[/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks) | 已更新响应示例。                               |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)| 更新了方法响应中的 `result.postings.status` 和 `result.postings.substatus` 参数描述。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3) | 在方法响应中： <br> • 添加了参数 `result.financial_data.products.customer_price`； <br> • 更新了 `result.requirements.products_requiring_gtd`、`result.requirements.products_requiring_mandatory_mark`、`result.requirements.products_requiring_jw_uin`、`result.requirements.products_requiring_rnpt`、`result.status`、`result.substatus`、`result.previous_substatus`、`result.financial_data.products.price`、`result.financial_data.products.old_price`、`result.customer.phone`、`result.addressee.phone` 和 `result.products.is_marketplace_buyout` 参数描述。                         |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | 在方法响应中： <br> • 添加了参数 `result.postings.financial_data.products.customer_price`； <br> • 更新了 `result.postings.requirements.products_requiring_gtd`、`result.postings.requirements.products_requiring_mandatory_mark`、`result.postings.requirements.products_requiring_jw_uin`、`result.postings.requirements.products_requiring_rnpt`、`result.postings.financial_data.products.price`、`result.postings.financial_data.products.old_price`、`result.postings.customer.phone`、`result.postings.addressee.phone` 和 `result.postings.products.is_marketplace_buyout` 参数描述。 |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)| 更新了方法响应中的 `result.postings.customer.phone`、`result.postings.addressee.phone`、`result.postings.products.is_marketplace_buyout` 和 `result.products.is_marketplace_buyout` 参数描述。                                                                                                                                                                                                                                                                                                                                                                                  |\n| [/v2/finance/realization](#operation/FinanceAPI_GetRealizationReportV2) | 更新了方法响应中的 `result.rows.delivery_commission.commission`、`result.rows.delivery_commission.compensation`、`result.rows.return_commission.commission` 和 `result.rows.return_commission.compensation` 参数描述。                                                                                                                                                                                                                                                                                                                                                         |\n| [/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota) | 更新了方法响应中的 `total.limit`、`daily_create.limit` 和 `daily_update.limit` 参数描述。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |\n| [/v2/chat/history](#operation/ChatAPI_ChatHistoryV2)<br>[/v3/chat/history](#operation/ChatAPI_ChatHistoryV3) | 更新了方法请求中的 `from_message_id` 参数描述。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |\n| [/v1/analytics/product-queries](#operation/AnalyticsAPI_AnalyticsProductQueries)<br>[/v1/analytics/product-queries/details](#operation/AnalyticsAPI_AnalyticsProductQueriesDetails) | 更新了方法请求中的 `page` 和 `page_size` 参数描述。更新了请求示例。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3) | 将方法请求中的 `items.price` 参数标记为必需。<br> 更新了方法响应中的 `result.task_id` 参数描述。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |\n| [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) | 更新了方法请求中的 `return_id` 参数描述。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |\n| [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering)<br>[/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile)<br>[/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered) <br> [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel) | 更新了方法描述。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |\n| [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) | 更新了方法响应中的 `status` 参数描述。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |\n| [/v1/actions/products/activate](#operation/PromosProductsActivate) | 为方法请求中的 `products` 参数添加了限制。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |\n| — | 在 [**常见错误**](#tag/Errors) 部分为 [/v3/product/import](#operation/ProductAPI_ImportProductsV3) 方法添加了 `price_is_negative` 错误描述。更新了 [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4) 方法的 `TRANSITION_IS_NOT_POSSIBLE` 错误描述。                                                                                                                                                                                                                                                                                                                           |\n\n## 2025年9月23日\n\n| 方法                                             | 变更内容                                                                                                                      |\n|------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------|\n| —                                              | 已删除模块 **推送通知 → Ozon发送的通知 → 商品价格指数的变化**。<br>已删除通知 `TYPE_PRICE_INDEX_CHANGED`，位置在[**推送通知 → Ozon发送的通知**](#tag/push_types)模块。 |\n\n## 2025年9月12日\n\n| 方法                                             | 变更内容                               |\n|------------------------------------------------|------------------------------------|\n| —                                              | 已添加模块[**API密钥相关信息**](#tag/APIkey)。 |\n| [/v1/roles](#operation/AccessAPI_RolesByToken) | 已将该方法从Beta版迁移至正式版。                 |\n\n## 2025年9月3日\n\n| 方法                                                                    | 变更内容                                                                                                                        |\n|-----------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------|\n| /v1/conditional-cancellation/get<br>/v1/conditional-cancellation/list | 这些方式已过期，我们已将其从文件中删除。请使用 [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2)。   |\n| /v1/conditional-cancellation/approve                                  | 该方式已过期，我们已将其从文件中删除。请使用 [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2)。 |\n| /v1/conditional-cancellation/reject                                   | 该方式已过期，我们已将其从文件中删除。请使用 [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2)。   |\n\n## 2025年8月27日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      | 变更内容                                                                        |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------|\n| —                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       | 在[**方法操作顺序 → FBS仓库操作**](#section/FBS)中，我们详细说明了FBS仓库的操作流程。 |\n| [/v1/warehouse/fbs/create/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForCreateFBSWarehouse)<br>[/v1/warehouse/fbs/update/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForUpdateFBSWarehouse)<br>[/v1/warehouse/fbs/create](#operation/WarehouseAPI_CreateWarehouseFBS) <br> [/v1/warehouse/fbs/update](#operation/UpdateWarehouseFBS) <br> [/v1/warehouse/operation/status](#operation/GetWarehouseFBSOperationStatus) <br> [/v2/warehouse/list](#operation/WarehouseListV2) <br> [/v1/warehouse/fbs/first-mile/update](#operation/UpdateWarehouseFBSFirstMile) <br> [/v1/warehouse/archive](#operation/ArchiveWarehouseFBS) <br> [/v1/warehouse/unarchive](#operation/UnarchiveWarehouseFBS) | 已添加用于FBS仓库操作的方式。                                                            |\n\n## 2025年8月21日\n\n| 方法                                                                                                                   | 变更内容                                                                  |\n|-------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------|\n| [/v1/carriage/set-postings](#operation/CarriageAPI_SetPostings) | 已添加发运组成商品更改方式。 |\n| [/v1/carriage/cancel](#operation/CarriageAPI_CarriageCancel) | 已添加发运删除方式。 |\n| [/v1/product/action/timer/status](#operation/ProductAPI_ActionTimerStatus) | 已添加获取已设置计时器状态的方式。 |\n| [/v1/product/action/timer/update](#operation/ProductAPI_ActionTimerUpdate) | 已为最低价格时效性计时器更新添加方式。 |\n\n## 2025年8月15日\n\n| 方法 | 变更内容 |\n|------|----------|\n| — | 新增了 [**Premium方法**](#tag/Premium) 板块，并将订阅Premium后可用的方法移至其中。 |\n\n## 2025年8月14日\n\n| 方法 | 变更内容 |\n|------|----------|\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) | 在方法的响应中新增了参数 `items.promotions`、`items.promotions.is_enabled`、`items.promotions.type` 和 `items.sku`。 |\n\n## 2025年8月5日\n\n| 方法                                                            | 变更内容     |\n|---------------------------------------------------------------|----------|\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList)                                                            | 已将参数 `items.is_prepayment_allowed` 标记为已弃用。 |\n\n## 2025年8月1日\n\n| 方法                                                            | 变更内容     |\n|---------------------------------------------------------------|----------|\n| [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList) <br>[/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) <br> [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) | 更新了方法描述。 |\n\n## 2025年7月30日\n\n| 方法                                                                                 | 变更内容                                |\n|--------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/analytics/average-delivery-time/summary](#operation/AverageDeliveryTimeSummary) | 添加了用于获取平均配送时间总体分析的 Beta 方法。 |\n\n## 2025年7月28日\n\n| 方法                                                            | 变更内容     |\n|---------------------------------------------------------------|----------|\n| [/v3/chat/list](#operation/ChatAPI_ChatListV3)  | 新增了新版本方法，用于通过指定筛选器获取聊天信息。                                                                                               |\n| [/v2/chat/list](#operation/ChatAPI_ChatListV2) | 该方法将于未来停用。请改用 [/v3/chat/list](#operation/ChatAPI_ChatListV3)。|\n| [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) | 更新了方法描述。 |\n\n## 2025年7月23日\n\n| 方法                                                                                                                                                                                                                                                                                                                                          | 变更内容               |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------|\n| [/v1/analytics/product-queries](#operation/AnalyticsAPI_AnalyticsProductQueries)<br>[/v1/analytics/product-queries/details](#operation/AnalyticsAPI_AnalyticsProductQueriesDetails)<br>[/v1/finance/compensation](#operation/ReportAPI_GetCompensationReport)<br>[/v1/finance/decompensation](#operation/ReportAPI_GetDecompensationReport) | 已将该方法从Beta版迁移至正式版。 |\n\n## 2025年7月22日\n\n| 方法                                                                                                                                                          | 变更内容                                                                                                                                 |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes)                                                                       | 更新了方法响应中 `result.id` 参数的描述。                                                                                                          |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | 更新了方法响应中 `result.requirements.products_requiring_change_country` 参数的描述。                                                              |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 更新了方法响应中 `result.postings.requirements.products_requiring_change_country` 和 `result.postings.financial_data.products.actions` 参数的描述。 |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | 更新了方法响应中 `result.financial_data.products.actions` 参数的描述。                                                                             |\n\n## 2025年7月15日\n\n| 方法                                                                                  | 变更内容               |\n|-------------------------------------------------------------------------------------|--------------------|\n| [/v1/finance/realization/by-day](#operation/FinanceAPI_GetRealizationByDayReportV1) | 已将该方法从Beta版迁移至正式版。 |\n\n## 2025年7月14日\n\n| 方法                                             | 变更内容                          |\n|------------------------------------------------|-------------------------------|\n| [/v1/roles](#operation/AccessAPI_RolesByToken) | 已添加用于使用API密钥获取角色和方式列表的Beta方式。 |\n\n## 2025年7月2日\n\n| 方法                                                                                                                                                          | 变更内容                                                                            |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | 在方法的响应中新增了参数`result.requirements.products_requiring_change_country`。            |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)<br>[/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | 在方法的响应中新增了参数`result.postings.requirements.products_requiring_change_country`。   |\n\n## 2025年7月1日\n\n| 方法                                                                        | 变更内容                                                        |\n|---------------------------------------------------------------------------|-------------------------------------------------------------|\n| /v1/product/upload_digital_codes<br>/v1/product/upload_digital_codes/info | 方法已过时， 已从 文档中移除。                                            |\n| —                                                                         | 在 [**方法操作顺序 → 上传和更新商品**](#section/上传和更新商品) 部分，更新了有关方法操作的描述。 |\n\n## 2025年6月25日\n\n| 方法 | 变更内容                                                                                                                                                             |\n|----|------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —  | 在[**常见错误**](#tag/Errors)模块中，已添加对以下错误的说明：`restore limit exceeded` 和 `total limit exceeded`，适用于方法 [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive)。 |\n\n## 2025年6月23日\n\n| 方法                                                           | 变更内容                                                                                                                                            |\n|--------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3) | 新了方法响应中`result.shipment_date`参数的描述。                                                                                                             |\n| [常见错误](#tag/Errors)                                          | 已新增错误  `Stock is updated too frequently`  的说明，并更新了 [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) 方法中 `TOO_MANY_REQUESTS` 错误的说明。 |\n\n## 2025年6月20日\n\n| 方法                                                                         | 变更内容                                                          |\n|----------------------------------------------------------------------------|---------------------------------------------------------------|\n| [/v1/barcode/add](#operation/add-barcode)                                  | 新增了为商品绑定条形码的方法。                                               |\n| [/v1/barcode/generate](#operation/generate-barcode)                        | 新增了为商品生成条形码的方法。                                               |\n| [v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet)   | 已将该方法从Beta版迁移至正式版。                                            |\n| —                                                                          | 在 [**方法操作顺序 → 管理rFBS订单退货申请**](#section/rFBS) 部分，更新了有关方法操作的描述。 |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v1/report/list](#operation/ReportAPI_ReportList)<br>[/v1/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodList)<br>[/v1/description-category/attribute/values/search](#operation/DescriptionCategoryAPI_SearchAttributeValues)<br>[/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks)<br>[/v1/actions/discounts-task/list](#operation/promos_task_list)<br>[/v1/pass/list](#operation/PassList)<br>[/v2/returns/rfbs/list](#operation/RFBSReturnsAPI_ReturnsRfbsListV2)<br>[/v1/returns/company/fbs/info](#operation/returnsCompanyFBSInfo)<br>[/v1/analytics/product-queries](#operation/AnalyticsAPI_AnalyticsProductQueries)<br>[/v1/analytics/product-queries/details](#operation/AnalyticsAPI_AnalyticsProductQueriesDetails)<br>[/v1/product/info/wrong-volume](#operation/ProductAPI_ProductInfoWrongVolume)<br>[/v1/review/comment/list](#operation/ReviewAPI_CommentList)<br>[/v1/review/list](#operation/ReviewAPI_ReviewList) | 更新了请求示例。 |\n\n## 2025年6月19日\n\n| 方法                                                                                       | 变更内容                                                                                                                        |\n|------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------|\n| [/v1/pricing-strategy/product/info](#operation/pricing_items-info)                       | 并将参数 `result.strategy_competitor_id` 标记为已弃用。                                                                                |\n| [/v3/product/info/attributes](#operation/ProductAPI_GetProductAttributesV3)              | 该方法已过时。请切换到新版本 <a href=\"#operation/ProductAPI_GetProductAttributesV4\">/v4/product/info/attributes</a>。                      |\n| /v1/conditional-cancellation/get | 方法即将过时，并将于2025年8月3日停用。请改用 [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2)。 |\n| —                                                                                        | 在 [**管理取消订单**](#section/管理取消订单) 模块，更新了获取rFBS取消申请的方法。                                                                        |\n\n## 2025年6月18日\n\n| 方法                                                                                                | 变更内容                                                                                                                                          |\n|---------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/analytics/average-delivery-time](#operation/AnalyticsAPI_AverageDeliveryTime)                | 在方法响应中添加了参数 `data.metrics.exact_impact_share` 和 `total.exact_impact_share`。<br>已将参数 `data.metrics.impact_share` 和 `total.impact_share`标记为已弃用。 |\n| [/v1/analytics/average-delivery-time/details](#operation/AnalyticsAPI_AverageDeliveryTimeDetails) | 在方法响应中添加了参数 `data.metrics.exact_impact_share`，并将参数 `data.metrics.impact_share` 标记为已弃用。                                                        |\n\n## 2025年6月11日\n\n| 方法                                                                    | 变更内容                                      |\n|-----------------------------------------------------------------------|-------------------------------------------|\n| [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks) | 在方法的响应中新增了参数`items.stocks.warehouse_ids`。 |\n\n## 2025年6月5日\n\n| 方法                                                                                                | 变更内容                                                            |\n|---------------------------------------------------------------------------------------------------|-----------------------------------------------------------------|\n| [常见错误](#tag/Errors)                                                                               | 已为所有方法添加了`You have reached request rate limit per second`的错误描述。 |\n| [/v1/finance/realization/posting](#operation/FinanceAPI_GetRealizationReportV1)                   | 已将该方法从Beta版迁移至正式版。                                              |\n| [/v1/analytics/average-delivery-time](#operation/AnalyticsAPI_AverageDeliveryTime)                | 新增用于获取平均配送时间分析的Beta方法。          |\n| [/v1/analytics/average-delivery-time/details](#operation/AnalyticsAPI_AverageDeliveryTimeDetails) | 新增Beta方法，用于获取按集群划分的平均配送时间的详细分析。 |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) <br> [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | 在方法请求中添加了参数 `with.legal_info` 参数的 和 `result.postings.legal_info` 到方法的响应中。 |                                                                                                   |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                  | 在方法请求中添加了参数 `with.legal_info` 参数的 和 `result.legal_info` 到方法的响应中。          |\n\n## 2025年6月4日\n\n| 方法                                                                                | 变更内容                                                     |\n|--------------------------------------------------------------------------------------|--------------------------------------------------------------------|\n| [/v2/product/pictures/info](#operation/ProductAPI_ProductInfoPicturesV2) | 在方法的响应中新增了参数`items.errors`。|\n\n## 2025年6月3日\n\n| 方法                                                                                                                                                                                                                                                                                                            | 变更内容                                                                                                                               |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2) <br> [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2) <br> [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2) | 已将该方法从Beta版迁移至正式版。                                                                                                                 |\n| /v1/conditional-cancellation/list                                                                                                                                                                                                                 | 方法即将过时，并将于2025年8月3日停用。请切换到新版本 [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2)。    |\n| /v1/conditional-cancellation/approve                                                                                                                                                                                                             | 方法即将过时，并将于2025年8月3日停用。请切换到新版本 [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2)。 |\n| /v1/conditional-cancellation/reject                                                                                                                                                                                                               | 方法即将过时，并将于2025年8月3日停用。请切换到新版本 [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2)。   |\n| [常见错误](#tag/Errors) | 已更新方法 [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel) 的 `INVALID_ARGUMENT` 错误描述。 |\n\n## 2025年5月28日\n\n| 方法                                                                                | 变更内容                                                     |\n|--------------------------------------------------------------------------------------|--------------------------------------------------------------------|\n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices) | 在方法的响应中新增了参数`items.price.net_price`。 |\n\n## 2025年5月27日\n\n| 方法                        | 变更内容                                                                             |\n|---------------------------|----------------------------------------------------------------------------------|\n| /v1/product/import/stocks | 该方法已过时，已从文档中删除。请改用 [/v2/products/stock](#operation/ProductAPI_ProductsStocksV2)。 |\n\n## 2025年5月26日\n\n| 方法                                                                                | 变更内容                                                     |\n|--------------------------------------------------------------------------------------|--------------------------------------------------------------------|\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3) | 在该方法的请求中，已将参数 `items.type_id` 标记为必填。 |\n\n## 2025年5月22日\n\n| 方法                                                                                                                                                            | 变更内容                                                                                      |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------|\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) <br> [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 更新了该方法请求中参数 `filter.fbpFilter` 的描述。                                                       |\n| —                                                                                                                                                             | 在[**接口使用规范**](/#tag/Process)模块中，已提升接口请求限额 —— 现在每个 Client ID 每秒最多可发起50次请求。此前每秒最多只能发起10次请求。 |\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3)                                                                                                  | 添加字段 `items.promotions` 在方法请求。                                                            |\n\n## 2025年5月15日\n\n| 方法                                                                                                           | 变更内容                                                                                                      |\n|--------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------|\n| [/v1/actions/candidates](#operation/PromosCandidates) <br> [/v1/actions/products](#operation/PromosProducts) | 添加了参数 `result.products.alert_max_action_price_failed` 和 `result.products.alert_max_action_price` 到方法的响应中。 |\n\n## 2025年5月14\n\n| 方法                    | 变更内容                                                                                       |\n|-----------------------|--------------------------------------------------------------------------------------------|\n| [/v1/returns/company/fbs/info](#operation/returnsCompanyFBSInfo) | 在方法响应中添加了参数 `box_count` 和 `utc_offset`。已从方法响应中删除了`company_id`参数。 |\n\n## 2025年5月13日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                                                                         | 变更内容                                                                                          |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------|\n| [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3)                                                                                                                                                                                                                                                                                                                                                                       | 已将该方法从Beta版迁移至正式版。                                                                            |\n| [/v2/chat/history](#operation/ChatAPI_ChatHistoryV2)                                                                                                                                                                                                                                                                                                                                                                       | 方法即将过时，并将于2025年7月13日停用。请切换到新版本 [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3)。          |\n| —                                                                                                                                                                                                                                                                                                                                                                                                                          | 在[**方法操作顺序→管理聊天**](#section/管理聊天) 部分，已经列出了用于获取聊天历史的新方法。                                       |\n| [/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet)                                                                                                                                                                                                                                                                                                                                                  | 新增用于传递rFBS退货操作的Beta方法。                                                                        |\n| [/v2/returns/rfbs/reject](#operation/RFBSReturnsAPI_ReturnsRfbsRejectV2)<br>[/v2/returns/rfbs/compensate](#operation/RFBSReturnsAPI_ReturnsRfbsCompensateV2)<br>[/v2/returns/rfbs/verify](#operation/RFBSReturnsAPI_ReturnsRfbsVerifyV2)<br>[/v2/returns/rfbs/receive-return](#operation/RFBSReturnsAPI_ReturnsRfbsReceiveReturnV2)<br>[/v2/returns/rfbs/return-money](#operation/RFBSReturnsAPI_ReturnsRfbsReturnMoneyV2) | 这些方法未来将被停用。请切换至 [/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet) 方法。 |\n\n## 2025年5月7日\n\n| 方法                                                                            | 变更内容                                                                                              |\n|----------------------------------------------------------------------------------|----------------------------------------------------------------------|\n| [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2) | 新增用于确认 rFBS 订单取消申请的 beta 方法。 |\n| [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2) | 新增用于获取 rFBS 订单取消申请列表的 beta 方法。      |\n| [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2) | 新增用于拒绝 rFBS 订单取消申请的 beta 方法。            |\n\n## 2025年5月6日\n\n| 方法                                                                                                                                                         | 变更内容                                                                                                                                                              |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3)                                                                                               | 已从方法请求中移除参数 `items.image_group_id` 和 `items.premium_price`。                                                                                                       |\n| [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo)                                                                                     | 已从方法响应中移除参数 `result.items.errors.optional_description_elements`。                                                                                                  |\n| [/v1/product/import-by-sku](#operation/ProductAPI_ImportProductsBySKU)                                                                                     | 已从方法请求中移除参数 `items.premium_price`。                                                                                                                                |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 已从方法响应中移除参数 `result.postings.financial_data.products.client_price`，`result.postings.financial_data.products.picking` 和 `result.postings.products.mandatory_mark`。 |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)<br>[/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode)             | 已从方法响应中移除参数 `result.financial_data.products.client_price`，`result.financial_data.products.picking` 和 `result.products.mandatory_mark`。                            |\n| /v1/finance/realization                                                                                                                                    | 该方法已过时，已从文档中删除。 请改用 [/v2/finance/realization](#operation/FinanceAPI_GetRealizationReportV2)。                                          
[...]
