.tabs {
  display: flex;
  flex-wrap: wrap;
  
  margin: 14px 0 24px;
  width: 100%;
}

.tabs input {
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
}

.tabs label {
  position: relative;

  z-index: 1;
  
  display: inline-block;

  padding: 15px 0 15px 32px;

  border-bottom: 2px solid #e6ebf0;

  cursor: pointer;

  font-size: 17px;
  line-height: var(--lh-body);
  text-align: center;
  color: var(--oz-text-300);
}

@media (max-width: 959px) {
  .tabs label {
    font-size: 11px;
    line-height: 1.45;
    padding: 13px 0 13px 16px;
  }
}

.tabs label:first-of-type {
  padding-left: 0;
}

.tabs label:last-of-type {
  padding-right: 0;
}

.tabs > div {
  order: 999;
  
  display: none;

  margin: -2px 0 0;
  padding: 24px;

  width: 100%;

  border: 2px solid #e6ebf0;
  border-radius: 0 0 8px 8px;
}


@media (max-width: 959px) {
  .tabs > div {
    margin: -2px 0 0;
    padding: 15px;
  }
}

.tabs > div > :first-child {
  margin-top: 0;
}

.tabs > div > :last-child {
  margin-bottom: 0;
}

.tabs input[type="radio"]:checked + label {
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: #005bff;
  
  color: #172133;
}

.tabs input[type="radio"]:checked + label:not(:first-of-type) {
  margin-left: 32px;
}

@media (max-width: 959px) {
  .tabs input[type="radio"]:checked + label:not(:first-of-type) {
    margin-left: 16px;
  }
}

.tabs input[type="radio"]:checked + label + div {
  display: block;
}

.tabs input[type="radio"]:focus + label {
  outline: none;
}
