{
  "openapi": "3.0.0",
  "info": {
    "title": "Ozon Seller API Dokümantasyon",
    "version": 2.1,
    "x-logo": {
      "url": "https://cdn2.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "Seller API ile çalışma hakkındaki sorularınız için kişisel hesabınız üzerinden desteğe başvurunuz.\n\n > [Marketplace ile çalışma talimatları](https://seller-edu.ozon.ru)\n"
  },
  "servers": [
    {
      "url": "//api-seller.ozon.ru"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Genel açıklama",
      "tags": [
        "Introduction",
        "Getting started",
        "Auth",
        "Environment",
        "Process",
        "List"
      ]
    },
    {
      "name": "Temel Yöntemler",
      "tags": [
        "APIkey",
        "CategoryAPI",
        "ProductAPI",
        "BarcodeAPI",
        "Prices&StocksAPI",
        "Promos",
        "PricingStrategyAPI",
        "WarehouseAPI",
        "FBS",
        "PolygonAPI",
        "FBS&rFBSMarks",
        "DeliveryFBS",
        "DeliveryrFBS",
        "Pass",
        "ReturnsAPI",
        "RFBSReturnsAPI",
        "CancellationAPI",
        "ChatAPI",
        "SupplierAPI",
        "ReportAPI",
        "AnalyticsAPI",
        "FinanceAPI"
      ]
    },
    {
      "name": "Beta Yöntemler",
      "tags": [
        "BetaIntro",
        "BetaMethod",
        "Examples",
        "ReviewAPI",
        "FBSWarehouseAPI",
        "Assembly",
        "DeliveryFBPDraft",
        "DraftDirectFBP",
        "DraftDropOffFBP",
        "DraftPickupFBP",
        "OrderDirectFBP",
        "OrderDropOffFBP",
        "OrderPickupFBP",
        "DeliveryFBP"
      ]
    },
    {
      "name": "Premium Yöntemler",
      "tags": [
        "Premium"
      ]
    },
    {
      "name": "Hatalar",
      "tags": [
        "Errors"
      ]
    },
    {
      "name": "Push-bildirimler",
      "tags": [
        "push_intro",
        "push_start",
        "push_resending",
        "push_types",
        "service_response"
      ]
    },
    {
      "name": "Güncellemeler",
      "dataSelector": "tab-news",
      "tags": [
        "News"
      ]
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "x-displayName": "Giriş",
      "description": "## Ozon Seller API nedir?\nOzon Seller API, satıcı ve Ozon sistemi arasındaki bilgi alışverişini sağlamak amacıyla Ozon Marketplace ile çalışmak\niçin bir programlama arayüzüdür. \n\nSeller API yöntemleri ürün bakiyesi veya fiyatları gibi mağaza bilgilerini değiştirmeye, iadeler hakkında bilgi edinmeye\nve depo listesini almaya olanak tanır.\n\nAPI ile çalışmak talep gönderme ve yanıt alma üzerine kuruludur. Bunun için yöntem açıklamasının sağında bulunan\n**Console** konsolundaki sekmeyi kullanabilirsiniz. [Postman](https://www.postman.com) veya ERP\ngibi hesap sistemleriyle entegrasyon kurun. \n\n## Seller API ne zaman işe yarar?\nSatıcı hesap sistemi Seller API ile entegre edildiğinde, verileri otomatik modda güncelleyebilir ve alabilirsiniz. Bu,\nürün fiyat ve bakiye bilgilerini güncel tutmaya, kısa zaman içerisinde daha çok sipariş işlemeye ve manuel olarak\nbilgilerin güncellenmesinden kaynaklanan hataları gidermeye yardımcı olur.\n\nÖrneğin, 100 ürünün fiyat ve bakiye bilgilerini güncellemeniz gerekiyor. Bunu kişisel hesabınız üzerinden yapmak için\nher ürün kartındaki bilgileri manuel olarak değiştirmeniz gerekir. \n\nYöntem [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) anında 100 ürün için bakiye bilgilerini tek bir\ntaleple güncellemeye, [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) yöntemi ise onların\nfiyatlarını güncellemeye olanak tanır.\n\n## Seller API fırsatları\n- Ürünleri yükleme ve güncelleme.\n- Ürün fiyatlarını ve bakiyelerini yönetme. \n- Ürün iadeleri hakkında bilgi edinme.\n- FBO, FBS ve rFBS siparişlerini yönetme.\n- Sohbeti yönetme.\n- Faturalar ile çalışma.\n- Finansal ve analitik bilgi edinme. \n- Ozon nitelik ve özelliklerini indirme. \n- Ozon deposuna teslimat amacıyla sürücü ve araç için geçiş kartı sipariş etme. \n\n"
    },
    {
      "name": "Getting started",
      "x-displayName": "Çalışmaya başlama",
      "description": "<aside class=\"warning\">\n16.05.2025 tarihinden itibaren Satıcı API'sine yalnızca back-to-back istekle erişilebilecek, tarayıcıdan doğrudan yapılan istekler yasaklanacaktır. \nBu tür istekler CORS politikası hatası vererek düşecektir.\n</aside>\n\nOzon Seller API ile çalışmaya başlamadan önce:\n\n1. Ozon ile çalışma süreçlerini [Satıcı Bilgi Bankasında](https://docs.ozon.ru/global/tr/) ve\n  [satıcı kişisel hesabından](https://seller.ozon.ru/app/signin) inceleyiniz.\n2. Otomatikleştirmeyi planladığınız süreleri belirleyin ve onları şirketinizin süreçleri ile karşılaştırın.\n3. Seller API belgelerini okuyun ve bir entegrasyon planı geliştirin.\n\nSeller API ile çalışmak için API-anahtarı gerekmektedir. Daha fazla bilgiye [Yetkilendirme](#tag/Auth) bölümünden ulaşabilirsiniz.\n\nSeller API UTC saat dilimine göre çalışmaktadır. Tarih ve saat içeren talepler gönderirken ve yanıtlar alırken bunu aklınızda bulundurun.\n\n Seller API ile çalışma süreçi şu bloklara ayrılabilir:\n- nitelik ağacıyla çalışma,\n- ürün yükleme ve güncelleme,\n- fiyat yönetimi,\n- ürün bakiyesi yönetimi,\n- faturalarla çalışma,\n- finansal bilgi edinme,\n- analitik bilgi edinme,\n- iade yönetimi,\n- sohbet yönetimi.\n"
    },
    {
      "name": "Auth",
      "x-displayName": "Yetkilendirme",
      "description": "<br><aside class=\"warning\">API-anahtarları kişisel hesapta gizli bir biçimde saklanmaktadır. API-anahtarını yalnızca\noluşturma esnasında göreceksiniz. Bunu güvenilir bir yerde saklayın veya hemen sistemlerinizde belirtiniz.\n\nKaybedilmemiş API-anahtarlarına yeniden erişim sağlayamazsınız. API ile çalışmaya devam etmek için, yeni bir anahtar oluşturunuz. \n\nOzon, şüpheli bir etkinlik veya sistemlerine aşırı yüklenildiğini tespit ederse anahtarı geri alabilir.\n</aside>\n\n## Seller API’ye nasıl erişilir\n1. [Ozon Seller](https://seller.ozon.ru/app/signup) ’a kayıt olun. \n   Kayıt hakkında daha detaylı bilgi [Satıcı Bilgi Bankası](https://docs.ozon.ru/global/tr/launch/steps/step-1/) ’nda.\n2. API-anahtar edinin.\n\n## API-anahtar nasıl alınır\n<aside class=\"warning\">\n<b>API-anahtarınızı yabancılarla paylaşmayın</b>  \n\nAPI talepleri Ozon mağazanızdaki verileri değiştirir. Yabancı şahısların anahtara erişimi olursa, mağazanızı yönetebilirler. \n</aside>\n\nAPI-anahtar almak için: \n1. Kişisel sayfanızdaki [**Ayarlar → Satıcı API'si**](https://seller.ozon.ru/app/settings/api-keys) bölümüne gidin. \n2. **Anahtar oluştur** tuşuna basın.\n3. Anahtar için bir isim bulun ve erişim düzeyini seçin.\n4. **Oluştur** tuşuna basın.\n\nFarklı erişim düzeyine sahip birden fazla kullanıcınız varsa birkaç tane API anahtarı oluşturabilirsiniz.\n\n### Anahtarı düzenleme\n\nAnahtar için izin verilen ağları değiştirmek istiyorsanız, [API anahtarları listesinde](https://seller.ozon.ru/app/settings/api-keys) istediğiniz birini seçin ve <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/seller-api/edit-key_1682516858.png\" width=\"20\"> seçeneğine tıklayın.\nDeğişiklik yapın ve **Güncelle** tuşuna basın.\n\n## API-anahtarı yabancı şahısların eline geçti\n1. Kişisel hesabınızdaki [**Ayarlar → Satıcı API'si**](https://seller.ozon.ru/app/settings/api-keys) bölümüne gidin.\n2. Geçerli olan API-anahtarını silin ve yeni bir tane oluşturun.\n"
    },
    {
      "name": "Environment",
      "x-displayName": "Çalışma ortamı",
      "description": "## Çalışma ortamı nedir\n\nÇalışma ortamı sizin mağazanızdır. Bilgilendirme talepleri dışında gönderilen tüm talepler kişisel hesabınızdaki ve Ozon\nweb sitesindeki verileri değiştirebilir. \n\n**Çalışma ortamı**: api-seller.ozon.ru\n\nOluşturulan ürünler aşağıdaki gibi bir bağlantı aracılığıyla görüntülenebilir: https://www.ozon.ru/context/detail/id/SKU\nburada “SKU” yerine oluşturulan ürün için bir değer girilmelidir. \n\n## Talep biçimi\n\n```http\nGET / HTTP/1.1\nHost: api-seller.ozon.ru\nClient-Id: <Client-Id>\nApi-Key: <Api-Key>\nContent-Type: application/json\n```\n\nTalep biçiminin doğrulunu kontrol etmek için açıklamanın üstündeki  **Console** sekmesini veya [Postman](https://www.postman.com) kullanın. "
    },
    {
      "name": "Process",
      "x-displayName": "Yöntemleriyle çalışma düzeni",
      "description": "<br><aside class=\"warning\">Eğer sizin adınızdan çok sayıda aynı ve hatalı istekler alınırsa, Seller API erişimini\nuyarıda bulunmadan kısıtlayacağız. \n\nTek bir Client ID ile tüm yöntemlere saniyede en fazla 50 gönderebilirsiniz. </aside>\n\n# Ozon özellik ve niteliklerini indirin\n\n<br><aside class=\"warning\">Ürünlerle çalışmak için yöntemlerin doğru bir şekilde çalışmasını sağlamak amacıyla\nkategorilerinizi ve özelliklerinizi Ozon sistemindeki değerlerle karşılaştırınız.\n\nEğer [/v3/product/import](#operation/ProductAPI_ImportProductsV3)) yöntemine, Ozon dizininde bulunmayan değerleri\ngeçirirseniz, ürün oluşturulmayacak veya güncellenmeyecektir. </aside>\n\n1. [/v1/description-category/tree](#operation/DescriptionCategoryAPI_GetTree) — ağaç türünde kategori ve tür listesini alın ve seçilen kategorideki son seviye değerini kullanın.\n\n2. [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes) — seçilen kategori ve tür için özellikleri alın.\n\n3. [/v1/description-category/attribute/values](#operation/DescriptionCategoryAPI_GetAttributeValues) — seçili özellikler için değer listesi\n   alın.\n\n# Ürünleri yükleyin ve güncelleyin\n\nOzon nitelik modeliyle kendi nitelik ve özelliklerinizi karşılaştırdıktan sonra ürün yüklemeye başlayabilirsiniz:\n\n1. [/v3/product/import](#operation/ProductAPI_ImportProductsV3) — ürünleri ve hizmetleri yükleyin. Bu yöntem aynı\n   şekilde önceden yüklenmiş ürünlerin güncellenmesine olanak tanır. Talepte birincil fiyat ayarlanır ve ürünün\n   görselleri yüklenir. \n\n   Bir taleple en fazla 100 ürün aktarılır. Görseller depolandıkları bulut depolama alanına doğrudan bir bağlantı ile\n   yüklenir.\n\n   Yöntem sonucunda ürün yükleme görevi numarası olan `task_id` değerini alırsınız.\n\n2. [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo) — ürün yüklerken almış olduğunuz `task_id`\n   değerini kontrol edin. Yöntem, ürünlerin başarıyla yüklenip yüklenmediği veya yükleme sırasında bir hata olup\n   olmadığı hakkında bilgi verecektir.\n\n   Yanıt, ürünün denetleme aşamasında olduğu durumunu içeriyorsa, sonucunu bekleyin ve ürün durumunu tekrar kontrol\n   edin. Denetleme genellikle bir günden daha az sürmektedir.\n\n3. [/v3/product/list](#operation/ProductAPI_GetProductList) — ürün yükledikten sonra oluşturulan ürünlerin bir listesini\n   alın.\n\n   Bu yöntem, ürünleri görünürlük durumuna göre kategorize etmek için filtreler kullanmanıza veya bir ürün tanımlayıcısı\n   aracılığıyla durum değişikliklerini takip etmeye olanak tanır.\n\n   Yöntem bir çift `offer_id` ve `product_id` değeri verir, bunlar neredeyse tüm taleplerde eylemin gerçekleştirileceği\n   ürün kimlikleri için gereklidir. Ürünleri bir şablon aracılığıyla yüklediyseniz, gelecekte API aracılığıyla ürünlerle\n   çalışmak amacıyla `offer_id` ve `product_id` almak için bu yöntemi kullanın.\n\n## Ürün görseli yükleyin ve güncelleyin\n\nÜrün kartı eklemeniz veya var olanı değiştirmeniz gerekiyorsa, şunları kullanın:\n\n1. [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) — ürün görseli yükleyin veya güncelleyin.\n   Görseller depolandıkları bulut depolama alanına doğrudan bir bağlantı ile yüklenir.\n2. [/v2/product/pictures/info](#operation/ProductAPI_ProductInfoPicturesV2) — ürün görseli ekleme durumunu kontrol edin.\n   Yöntem, ürünlerin başarıyla yüklenip yüklenmediği veya yükleme sırasında bir hata olup olmadığı hakkında bilgi\n   verecektir.\n\n## Ürünü güncelleyin\n\nÜrün bilgilerini ve özelliklerini güncellemek için [/v3/product/import](#operation/ProductAPI_ImportProductsV3) bunu kullanın.\n\nYalnızca ürün özelliklerini güncellemeniz gerekiyorsa, [/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes) bunu kullanın.\n\n## Ürün bilgilerini alın\n\n- [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) — ürün hakkında örneğin barkod, ana teklif fiyatı, kategori\n  kimliği, komisyon veya denetim hatası gibi bilgiler edinin.\n  [/v3/product/list](#operation/ProductAPI_GetProductList) filtrelerini kullanarak tüm ürünlerin listesini tek seferde toplu olarak veya kategori bazlı olarak alın.\n\n- [/v3/products/info/attributes](#operation/ProductAPI_GetProductAttributesV3) — ürün özellikleri açıklamasını alın.\n  Yöntem, ürün kartına ek bilgilerin eklenmesine olanak tanır, böylece ürün kartı daha dolu olur.\n\n- [/v1/product/info/description](#operation/ProductAPI_GetProductInfoDescription) — benzer bir ürün oluştururken\n  kullanmak için ürün açıklaması alın.\n\n- [/v1/product/info/discounted](#operation/ProductAPI_GetProductInfoDiscounted) — indirimli ürünün SKU koduna göre,\n  temel ürün ve indirim hakkında bilgi edinin.\n\n## Ürünü kaldırın veya arşivleyin\n\n1. [/v2/products/delete](#operation/ProductAPI_DeleteProducts) — ürün hatalı yüklendiyse ve SKU olmadan arşive düştüyse,\n   ürünü silin. Denetimden başarıyla geçen ve SKU alan ürünler arşivden kaldırılamaz.\n\n2. [/v1/product/archive](#operation/ProductAPI_ProductArchive) — ürünü arşive taşıyın. Arşivlemeden önce ürünün\n   bakiyesini sıfırlayın.\n\n3. [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive) — ürünü arşivden geri alın.\n\nÜrün yalnızca bakiyesini ayarladığınızda satışa çıkacaktır.\n\n## Hizmetleri yönetin\nHizmetler ve dijital ürünler için aktivasyon kodunu [/v1/product/upload_digital_codes](#operation/ProductAPI_UploadDigitalCode) yöntemi aracılığıyla yükleyebilirsiniz.\n\n# Ürün fiyatlarını ve bakiyelerini güncelleyin\n\nStokları güncellemek için [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) yöntemini kullanın. \nBu yöntemde bakiyelerin değiştirilmesi gereken deponun kimliği belirtilir.\n\nBakiye miktarı hakkında bilgi edinmek için, bunu kullanın\n[v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs).\n\nÜrün fiyatlarını güncellemek ve ürün kartını değiştirmemek için bunu\nkullanın [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices).\n\nBu yöntem şu fiyatları güncellemeye izin verir:\n\n- indirim öncesi,\n- Ozon Premium aboneliğine sahip müşteriler için,\n- indirimlerde dahil olmak üzere ürün kartındaki,\n- kampanya uygulandıktan sonraki ürünün minimum fiyatını.\n\n<aside class=\"warning\">\nBir ürün için farklı kampanya tipleri uygularsanız, fiyat minimum fiyatın altına düşebilir.\n</aside>\n\nFiyat, komisyon ve ürün indirimleri hakkında bilgi edinmek için bunu\nkullanın [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices).\n\n## Ürün rezervi\n\nEğer ürünler tüzel kişilikler tarafından sipariş ediliyorsa, ödeme anında gerçekleşmez. Sistem tarafından ürünler rezerve edilir.\nStokları kontrol etmek için [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) veya [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) yöntemlerini kullanın.\nEğer `is_legal = true` yanıtı alıyorsanız, bu, stokların arasında rezerve edilen ürünlerin mevcut olduğu anlamına gelmektedir.\nStokları, yeni ürün miktarının serbest stok ve rezerve edilmiş ürünlerin toplamından fazla olacak şekilde güncelleyebilirsiniz.\nSistem eski stokları sıfırlayarak yeni stok miktarını hesaplayacaktır.\n\nÜrün rezervasyonunu kontrol etmek için [/v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs) veya [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks) yöntemini kullanın.\n\n[Stok değişikliği hakkında daha fazla bilgi edinin](https://docs.ozon.ru/global/tr/fulfillment/stock/)\n\n# Kampanyalara katılın\n\nÜrünün tanıtımının yapılması amacıyla, alıcılar için Ozon tarafından düzenlenen kampanyalara katılın.\n\n- Mevcut kampanyaların bir listesini alın: [/v1/actions](#operation/Promos).\n\n- Kampanyaya dahil edilebilecek ürünlerin bir listesini alın: [/v1/actions/candidates](#operation/PromosCandidates).\n\n- Ürünleri kampanyaya ekleyin: [/v1/actions/products/activate](#operation/PromosProductsActivate).\n\n- Kampanyada yer alan ürünlerin bir listesini alın: [/v1/actions/products](#operation/PromosProducts).\n\n- Ürünleri kampanyadan kaldırın: [/v1/actions/products/deactivate](#operation/PromosProductsDeactivate).\n\nAlıcılar sizden ürüne indirim yapmanızı isteyebilir.\nAlıcıların, indirimle satın almak istedikleri ürünlerin bir listesini almak için\n[/v1/actions/discounts-task/list](#operation/promos_task_list) yöntemini kullanın.\n`NEW` (yeni) veya `SEEN` (görüntülenenler) durumunda bulunan başvurular için şu işlemleri gerçekleştirebilirsiniz:\n- onaylamak için — [/v1/actions/discounts-task/approve](#operation/promos_task_approve) yöntemini kullanın,\n- reddetmek için — [/v1/actions/discounts-task/decline](#operation/promos_task_decline) yöntemini kullanın.\n\n[Kampanyalar hakkında daha detaylı bilgi Satıcı Bilgi Bankasında](https://docs.ozon.ru/global/tr/promotion/promotions/promo/)\n\n# Fiyatlandırma stratejisini ayarlayın\n\nFiyatlandırma stratejisi diğer internet mağazalarındaki ve pazar yerlerindeki benzer ürünlerin fiyatlarına uygun olarak ürün fiyatlarını otomatik olarak değiştiren bir araçtır.\n\nFiyatlandırma stratejisini ayarlamak için:\n\n1. Rakiplerin bir listesini alın: [/v1/pricing-strategy/competitors/list](#operation/pricing_competitors).\n\n2. Fiyatlandırma stratejilerinin bir listesini alın: [/v1/pricing-strategy/list](#operation/pricing_list).\n\n3. Kendi stratejinizi oluşturun: [/v1/pricing-strategy/create](#operation/pricing_create)  ve bir ürünün fiyatını diğer sitelerdekilere kıyasla yukarı veya aşağı yönlü değiştirmek için katsayılar ayarlayın.\n   Strateji hakkında bilgi almak için [/v1/pricing-strategy/info](#operation/pricing_info) yöntemini kullanın.\n\n4. Ürünleri stratejiye ekleyin: [/v1/pricing-strategy/products/add](#operation/pricing_items-add).\n\n   Şu ürünleri ekleyebilirsiniz:\n    - [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) yöntemiyle minimum fiyatın belirlendiği ürünleri.\n      Fiyatı kontrol etmek için [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices) yöntemini kullanın.\n    - Farklı bir stratejiye bağlı olmayan ürünleri.\n      Ürünün stratejiye bağlı olup olmadığını kontrol etmek [/v1/pricing-strategy/strategy-ids-by-product-ids](#operation/pricing_ids) yöntemini kullanın.\n\n   Stratejiye bağlı olan ürünlerin bir listesini almak için [/v1/pricing-strategy/products/list](#operation/pricing_items-list) yöntemini, ürünleri stratejiden kaldırmak için [/v1/pricing-strategy/products/delete](#operation/pricing_items-delete) yöntemini kullanın.\n\n7. Stratejiyi etkinleştirin veya sonlandırın: [/v1/pricing-strategy/status](#operation/pricing_status).\n\nSeçilen rakiplerin listesini ve strateji adını değiştirmek için [/v1/pricing-strategy/update](#operation/pricing_update) yöntemini kullanın.\n\nStratejiyi kaldırmak için [/v1/pricing-strategy/delete](#operation/pricing_delete) yöntemini kullanın.\n\n# Depolar hakkında bilgi edinin\n\n- [/v1/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodList) — depo yöntemleri listesini alın.\n\n- [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList) — depo listesini alın.\n\n# FBS depoları ile çalışma\n\n## Yeni bir depo oluşturun\n\n1. [/v1/warehouse/fbs/create/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForCreateFBSWarehouse) yöntemi ile Drop-off noktalarının listesini alın ve depo oluşturmak için birini seçin.\n2. [/v1/warehouse/fbs/create](#operation/WarehouseAPI_CreateWarehouseFBS) yöntemi ile yeni bir depo oluşturma isteği gönderin.\n3. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) yöntemi ile yeni depo oluşturma işleminin durumunu alın.\n4. [/v2/warehouse/list](#operation/WarehouseListV2) yöntemi üzerinden `warehouse_id` ile depo hakkında detaylı bilgi alın.\n\n## Depo ayarlarınızı güncelleyin\n\n1. [/v1/warehouse/fbs/update](#operation/WarehouseAPI_UpdateWarehouseFBS) yöntemi ile depo ayarlarını güncelleme isteği gönderin.\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) yöntemi ile depo bilgilerini güncelleme durumunu alın.\n\n## Deponun ilk milini güncelleyin\n\n1. [/v1/warehouse/fbs/update/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForUpdateFBSWarehouse) yöntemi ile Drop-off noktalarının listesini alın ve depo bilgisini güncellemek için birini seçin.\n2. [/v1/warehouse/fbs/first-mile/update](#operation/WarehouseAPI_UpdateWarehouseFBSFirstMile) yöntemi ile ilk mili güncelleme isteği gönderin.\n3. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) yöntemi ile ilk mili güncelleme durumunu alın.\n\n## Depoyu arşivleyin\n\n1. [/v1/warehouse/archive](#operation/WarehouseAPI_ArchiveWarehouseFBS) yöntemi ile depoyu arşive taşıyın.\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) yöntemi ile depo arşivleme durumunu alın.\n\n## Depoyu arşivden kaldırın\n\n1. [/v1/warehouse/unarchive](#operation/WarehouseAPI_UnarchiveWarehouseFBS) yöntemi ile depoyu arşivden çıkarın.\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus) yöntemi ile deponun arşivden çıkarılma durumunu alın.\n\n# Siparişleri yönetin\n\nÜrünlerinizin satışını yurt dışından gerçekleştiriyorsanız, siparişleri aşağıdaki planlardan herhangi biriyle işleyin:\n\n- [rFBS Crossborder](#section/Siparisleri-yonetin/rFBS-Crossborder-Plani);\n- [rFBS Crossborder entegre teslimat hizmetiyle](#section/Siparisleri-yonetin/Entegre-teslimat-hizmeti-ile-rFBS-Crossborder-plani);\n- [rFBS Aggregator](#section/Siparisleri-yonetin/rFBS-Aggregator-Plani).\n\n[rFBS programı kapsamında çalışırken ağır olan ürün siparişleri hakkında daha fazla bilgi edinin](#section/Siparisleri-yonetin/(rFBS)-agir-urunlerin-oldugu-siparisler-ile-nasil-calisilir)\n\n## rFBS Crossborder Planı\n\n1. Gönderilerle çalışmaya başlamadan önce işleme alınmayan siparişlerin bir listesini alın:\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Alıcı bir tüzel kişiyse, `requirements` blokunda, üretici ülkenin belirtilmediği siparişteki tüm ürünler için, onun\n   iletilmesinin gerekli olduğu hakkında bir bilgi olacaktır. Seçim yapmak için mevcut ülkelerin bir listesini alın:\n   [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Ardından üretici ülke\n   hakkındaki bilgiyi iletin:\n   [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Ayrıca siparişlerin (gönderilerin) bir listesini\n   alabilirsiniz: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Bu, farklı durumlara sahip filtreleri kullanarak, tüm siparişleri almaya olanak tanır. Ayrıca `with`\n   alanı `analytics_data` değerleri ile gönderilirse, anatilik verileri almak mümkündür.\n\n   Başlangıçta, API aracılığıyla sağlanan gönderilerin tümü `awaiting_packaging` durumuna gelmektedir.\n\n   Eğer `available_actions`  parametresinde `set_cutoff` belirtilmişse [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff)\n   yöntemini kullanarak gönderinin sevkiyat tarihini belirtin.\n   Bunu, [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) veya [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)\n   yöntemlerindeki `shipment_date` parametresinde belirtilenden tarihten önce yapın.\n   `shipment_date` tarihinden sonra sevkiyat tarihinin belirtilmesi ve gönderinin toplanması mümkün olmayacaktır.\n\n2. Siparişlere yönelik ek bir bilgi alın [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   `requirements` blokunda şunlar belirtilir:\n    - hangi ürünler zorunlu etiketlemeye tabidir;\n    - gümrük beyannamesi numarası ve ürün parti numarasını iletmenin gerekli olup olmadığı, ayrıca bu bilgiye şu\n      yöntemler aracılığıyla ulaşabilirsiniz [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      ve [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Ayrıca barkod hakkındaki ek bilgilere\n   ulaşabilirsiniz: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) yöntemini kullanarak ürün örnekleri oluşturun ve zorunlu işaretlemenin gerekli olmadığını iletin: `is_mandatory_mark_needed = false`.\n\n4. Toplama süresi sona ermeden, siparişi topladığınızı\n   onaylayın: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4).\n\n   Gerekirse, siparişleri birkaç gönderiye bölmek için bu yöntemi kullanın. Örneğin, siparişte birkaç ürün var ve hepsi\n   birden paket gerekliliklerini karşılamıyor ise kullanın.\n\n   Yöntem kullanıldıktan sonra gönderi durumu `awaiting_deliver` olarak değişecektir.\n\n   Kısmi toplama için şu yöntemi\n   kullanabilirsiniz: [v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Teslimat yöntemi ayarlarında, gönderilerin teslimat hizmetine aktarılması için zaman aralığı ayarladıysanız, gönderi\n   durumu `sent_by_seller`\n   \"Satıcı tarafından gönderildi\" olarak\n   değişecektir: [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller).\n\n6. Teslimat hizmetine transfer edildikten sonra durum `delivering` \"Teslim ediliyor\" olarak\n   değişecektir: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\n\n7. Bununla birlikte, ürünün takip numarası varsa, bunu\n   iletin: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\n\n8. Kurye, alıcıya doğru hareket ettiğinde, gönderi durumunu \"Son mil\" olarak\n   değiştirin: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\n\n9. Kurye, gönderiyi alıcıya teslim ettiğinde, durumu \"Teslim edildi\" olarak\n   değiştirin: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\n\n## Entegre teslimat hizmeti ile rFBS Crossborder planı\n\n1. Gönderilerle çalışmaya başlamadan önce işleme alınmamış gönderilerin bir listesini alın:\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n    Alıcı bir tüzel kişiyse, `requirements` blokunda, üretici ülkenin belirtilmediği siparişteki tüm ürünler için, onun\n    iletilmesinin gerekli olduğu hakkında bir bilgi olacaktır. Seçim yapmak için mevcut ülkelerin bir listesini alın:\n    [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Ardından üretici ülke\n    hakkındaki bilgiyi iletin:\n    [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n    \n    Ayrıca, siparişlerin (gönderilerin) bir listesini\n    alabilirsiniz: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3). Bu, farklı durumlara sahip filtreler\n    kullanarak, tüm siparişleri almaya olanak tanır. Ayrıca `with` alanı `analytics_data` değeriyle birlikte gönderilirse,\n    analitik verilere ulaşabilirsiniz.\n    \n    Başlangıçta, API aracılığıyla yapılan tüm gönderiler `awaiting_packaging` durumuna gelecektir.\n\n2. Siparişlere yönelik ek bilgelere ulaşın: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   `requirements` blokunda şunlar belirtilmektedir:\n    - hangi ürünler zorunlu etiketlemeye tabidir;\n    - gümrük beyannamesi numarası ve ürün parti numarasını iletmenin gerekli olup olmadığı, ayrıca bu bilgiye şu\n      yöntemler aracılığıyla ulaşabilirsiniz [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      ve [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Ayrıca barkod hakkındaki ek bilgilere\n   ulaşabilirsiniz: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) yöntemini kullanarak ürün örnekleri oluşturun ve zorunlu işaretlemenin gerekli olmadığını iletin: `is_mandatory_mark_needed = false`.\n\n4. Toplama süresi sona ermeden, siparişi topladığınızı\n   onaylayın: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4).\n\n    Gerekirse, ürünleri birkaç gönderiye bölmek için bu yöntemi kullanın. Örneğin, siparişte birkaç ürün var ve hepsi birden\n    paket gerekliliklerini karşılamıyor ise kullanın.\n    \n    Yöntem kullanıldıktan sonra gönderi durumu `awaiting_deliver` olarak değişecektir.\n    \n    Kısmi toplama için şu yöntemi\n    kullanabilirsiniz: [v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Her gönderi için Ozon sisteminde tanımlanmak üzere bir etiket\n   yazdırın: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n6. Teslimat yöntemi ayarlarında, teslimat hizmetine aktarılacak gönderiler için zaman aralığı ayarladıysanız, gönderi\n   durumu `sent_by_seller` \"Gönderildi\" olarak\n   değişecektir: [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller).\n\nGönderiyi, teslimat hizmetine iletin. \"Teslim ediliyor\" ve \"Teslim edildi\" arasındaki tüm durumlar teslimat hizmeti\ntarafından iletecektir.\n\n### Gönderi teslimatını iptal etme\n\n1. Gönderi iptali gerekçelerinin bir listesini almak için gönderiyle çalışırken herhangi bir\n   aşamada [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) bunu kullanın.\n\n2. Ardından gönderi listesini ve numarasını aktarın: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nGönderideki ürünlerin bir bölümünü iptal etmek için şunu kullanın\n[/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nAlıcı gönderiyi iptal ederse, durum `cancelled` olarak değişecektir.\n\n## rFBS Aggregator Planı\n\n1. Gönderilerle çalışmaya başlamadan önce işleme alınmamış gönderilerin bir listesini alın:\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n    Alıcı bir tüzel kişiyse, `requirements` blokunda, üretici ülkenin belirtilmediği siparişteki tüm ürünler için, onun\n    iletilmesinin gerekli olduğu hakkında bir bilgi olacaktır. Seçim yapmak için mevcut ülkelerin bir listesini alın:\n    [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Ardından üretici ülke\n    hakkındaki bilgiyi iletin:\n    [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n    \n    Ayrıca, siparişlerin (gönderilerin) bir listesini\n    alabilirsiniz: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3). Bu, farklı durumlara sahip filtreler\n    kullanarak, tüm siparişleri almaya olanak tanır. Ayrıca `with` alanı `analytics_data` değeriyle birlikte gönderilirse,\n    analitik verilere ulaşabilirsiniz.\n    \n    Başlangıçta, API aracılığıyla yapılan tüm gönderiler `awaiting_packaging` durumuna gelecektir.\n\n2. Siparişlere yönelik ek bilgelere ulaşın: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   `requirements` blokunda şunlar belirtilmektedir:\n    - hangi ürünler zorunlu etiketlemeye tabidir;\n    - gümrük beyannamesi numarası ve ürün parti numarasını iletmenin gerekli olup olmadığı, ayrıca bu bilgiye şu\n      yöntemler aracılığıyla ulaşabilirsiniz [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      ve [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Ayrıca barkod hakkındaki ek bilgilere\n   ulaşabilirsiniz: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) yöntemini kullanarak ürün örnekleri oluşturun ve zorunlu işaretlemenin gerekli olmadığını iletin: `is_mandatory_mark_needed = false`.\n\n4. Toplama süresi sona ermeden, siparişi topladığınızı\n   onaylayın: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4).\n\n    Gerekirse, ürünleri birkaç gönderiye bölmek için bu yöntemi kullanın. Örneğin, siparişte birkaç ürün var ve hepsi birden\n    paket gerekliliklerini karşılamıyor ise kullanın.\n    \n    Yöntem kullanıldıktan sonra gönderi durumu `awaiting_deliver` olarak değişecektir.\n    \n    Kısmi toplama için şu yöntemi\n    kullanabilirsiniz: [v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Taşıyıcı, gönderiyi işleme aldığında, `awaiting_registration` durumu `awaiting_delivery` olarak değişecektir.\n   Gönderildikten sonra takip numarası verilecektir.\n\n   Her gönderi için Ozon sisteminde tanımlanmak üzere bir etiket yazdırın:\n   [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\nGönderiyi, teslimat hizmetine iletin. \"Teslim ediliyor\" ve \"Teslim edildi\" arasındaki tüm durumlar teslimat hizmeti\ntarafından iletecektir.\n\nTürkiye'den satış yapıyor ve vergi harcı iadeleri için Elektronik Ticaret Gümrük Beyannamesi (ETGB) \ngümrük beyannamelerine ihtiyacınız varsa, şu beyannameleri alın: [/v1/posting/global/etgb](#operation/PostingAPI_GetEtgb).\n\n### Gönderi teslimatını iptal etme\n\n1. Gönderi iptali gerekçelerinin bir listesini almak için gönderiyle çalışırken herhangi bir\n   aşamada [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) bunu kullanın.\n\n2. Ardından gönderi listesini ve numarasını aktarın: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nGönderideki ürünlerin bir bölümünü iptal etmek için şunu kullanın\n[/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nAlıcı gönderiyi iptal ederse, durum `cancelled` olarak değişecektir.\n\n## (rFBS) ağır ürünlerin olduğu siparişler ile nasıl çalışılır\n\nAğır ürünler içeren siparişi \"Sevkiyat bekleniyor\" `awaiting_delivery` durumuna taşımadan önce, ağır ürünlerin\nağırlıkları hakkındaki kesin verileri iletin. Bunun için toplama sırasında ölçüm yaptıktan sonra her ağırlık SKU'sunun\nher bir nüshasının ağırlık bilgilerini bu\nyöntem [/v2/posting/fbs/product/change](#operation/PostingAPI_CancelFbsPosting) aracılığıyla aktarın.\n\nÜrün oluşturma sırasında ağır bir ürün belirttiyseniz ve buna 20577, 8933 ve 8934 niteliklerini eklediyseniz, ürünün\ntartılması gerekmektedir.\n\nTüm ağırlıklı ürünlerin örneklerinin tamamı için doğru ağırlık bilgilerini aktardıktan sonra, gönderiyi \"Sevkiyat\nbekleniyor\" `awaiting_delivery` durumuna taşıyabilirsiniz.\n\nŞu durumlarda, API 400 hatası verecektir:\n\n- gönderideki tüm nüshaları tartmadıysanız,\n- ağır olmayan bir ürün için ağırlık değeri girdiyseniz,\n- bir nüshanın ağırlığı 8933 ve 8934 nitelikleriyle tanımlanan aralığa girmediyse.\n\n# Ürün iadeleri hakkında bilgi edinin\n\n- [/v1/returns/list](#operation/returnsList) — FBS planına göre satılan iade ürünler hakkında\n  bilgi edinin.\n\n# rFBS siparişlerinin iade başvurularını yönetin\n\nBaşvuruları ve bilgilerini alın:\n\n- [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) — rFBS iadesi başvurusu bilgisini alın.\n- [/v2/returns/rfbs/list](#operation/RFBSReturnsAPI_ReturnsRfbsListV2) — rFBS iadesi başvurularının bir listesini alın.\n\n[/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet) yöntemini kullanarak iade başvurusunu onaylayabilir, tazminat sağlayabilir, para iadesini onaylayabilir, ürünü kontrol edilmek üzere talep edebilir ve iade başvurusunu reddedebilirsiniz.\nBelirli bir iade için doğru `action` değerini göndermek için [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) yöntemini kullanarak o iade için mevcut olan `action`  listesini alın.\n\n# İptal başvurularını yönetin\n\nBaşvurulara ve onlar hakkındaki bilgilere ulaşın: [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2).\n\nYeni iptal başvurusu hakkında bir karar alın, onaylayın veya reddedin:\n\n- [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2) — rFBS iptal\n  başvurusunu onaylayın. Sipariş otomatik olarak iptal edilecek, para ise alıcıya iade edilecektir.\n- [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2) — rFBS iptal\n  başvurusunu reddedin. Sipariş, aynı durumda kalmaya devam edecek ve bunu alıcıya teslim etmek gerekecektir.\n\n# Sohbeti yönetin\n\nSohbet listesine ulaşmak için şunları kullanın: [/v3/chat/list](#operation/ChatAPI_ChatListV3). Yanıt, mevcut sohbetlerin ve son mesajların tanımlayıcılarını\niçerecektir.\n\nSohbet tanımlayıcısına göre mesaj göndermek için şu yöntemleri kullanın:\n\n- [/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage) — metin mesajı göndermek için.\n\n- [/v1/chat/send/file](#operation/ChatAPI_ChatSendFile) — dosya veya görsel göndermek için.\n\nSohbet tanımlayıcıya veya mesaja göre sohbet geçmişini almak için [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3) kullanın. Varsayılan sıralama yönü varsayılan\nolarak yeni mesajlardan eski mesajlara doğrudur.\n\nBir mesaj tanımlayıcısı belirtirseniz, geçmiş bu mesajdan başlayacaktır.\n\nGönderi numarasına göre alıcıyla yeni bir sohbet oluşturmak için [/v1/chat/start](#operation/ChatAPI_ChatStart)\nkullanın.\n\nBir mesajı ve ondan önceki tüm mesajları okundu olarak işaretlemek için, şunu\nkullanın [/v2/chat/read](#operation/ChatAPI_ChatReadV2).\n\n# Rapor oluşturun ve alın\n\nRaporlardan herhangi biri talep edildiğinde, ilk olarak bir belge oluşturma kodu verilir. Bunu, yöntem talebinde\nbelirtin.\n[/v1/report/info](#operation/ReportAPI_ReportInfo) — yanıtta rapor dosyası ve ek bilgiler verilecektir.\n\nÖnceden oluşturulmuş raporların bir listesini almak için şunu\nkullanın [/v1/report/list](#operation/ReportAPI_ReportList).\n\nRapor alma yöntemleri:\n\n- [/v1/report/products/create](#operation/ReportAPI_CreateCompanyProductsReport) — Ozon&nbsp;ID, ürün açıklaması,\n  fiyatlar, komisyon ve paket boyutları gibi ürün bilgilerini içeren rapor.\n\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — işlem raporu, satıcının\n  kişisel hesabında mevcuttur.\n\n- [/v4/product/info/price](#operation/ProductAPI_GetProductInfoPricesV4) — fiyat raporu.\n\n- [/v1/report/warehouse/stock](#operation/ReportAPI_CreateStockByWarehouseReport) — bakiye raporu.\n\n- [/v2/report/returns/create](#operation/ReportAPI_ReportReturnsCreate) — FBS ve rFBS iade ürünleri hakkında\n  rapor. Rapor, alıcıdan alınan, alıma veya satıcıya iletilmeye hazır olan ürünleri içermektedir.\n\n- [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) — gönderi raporu.\n\n- [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList) — finansal rapor.\n\n- [/v1/report/discounted/create](#operation/ReportAPI_CreateDiscountedReport) — defo indirimi olan ürünlere ilişkin bir rapor.\n\n# Analiz raporlarına ulaşın\n\n[/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData) — analitik bilgilere ulaşın.\n\nHesaplanacak dönemi ve metrikleri belirtirseniz, yanıt `dimensions` parametresine göre gruplandırılmış bir analiz\niçerecektir.\n\n# Finansal raporlara ulaşın\n\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — gönderi işlemleri hakkında daha\n  detaylı bilgi edinin.\n\n- [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) — belirtilen dönem içerisindeki\n  işlemlerin toplam tutarı hakkında detaylı bilgi edinin.\n\n# Değerlendirme hakkında bilgi edinin\n- [/v1/rating/summary](#operation/RatingAPI_RatingSummaryV1) — satıcının değerlendirmesinin mevcut değerlerini alın.\n- [/v1/rating/history](#operation/RatingAPI_RatingHistoryV1) — satıcının bir döneme ait değerlendirmelerini ve Premium\n  Programda tahakkuk ettirilen ceza puanı miktarı hakkında bilgi alın. \n"
    },
    {
      "name": "APIkey",
      "x-displayName": "API anahtar bilgileri"
    },
    {
      "name": "CategoryAPI",
      "x-displayName": "Ozon nitelikleri ve özellikleri"
    },
    {
      "name": "ProductAPI",
      "x-displayName": "Ürün yükleme ve güncelleme"
    },
    {
      "name": "BarcodeAPI",
      "x-displayName": "Ürünlerin barkodları"
    },
    {
      "name": "Prices&StocksAPI",
      "x-displayName": "Ürün fiyatları ve bakiyeleri"
    },
    {
      "name": "Promos",
      "x-displayName": "Kampanyalar",
      "description": "Ürünlerin tanıtımı için Ozon'nun alıcılar için gerçekleştirdiği kampanyalara katılın.\nKampanyalar hakkında daha fazla bilgi[Satıcı Bilgi Bankasında](https://docs.ozon.ru/global/tr/promotion/promotions/promo/)."
    },
    {
      "name": "PricingStrategyAPI",
      "x-displayName": "Fiyatlandırma stratejileri"
    },
    {
      "name": "CertificationAPI",
      "x-displayName": "Marka sertifikaları"
    },
    {
      "name": "WarehouseAPI",
      "x-displayName": "Depolar"
    },
    {
      "name": "FBS",
      "x-displayName": "FBS ve rFBS siparişlerinin işlenmesi"
    },
    {
      "name": "FBS&rFBSMarks",
      "x-displayName": "FBS/rFBS kapsamında etiket kodlarının ve sipariş toplamanın yönetilmesi"
    },
    {
      "name": "DeliveryFBS",
      "x-displayName": "FBS teslimatı"
    },
    {
      "name": "DeliveryrFBS",
      "x-displayName": "rFBS teslimatı"
    },
    {
      "name": "Pass",
      "x-displayName": "Geçiş kartları"
    },
    {
      "name": "ReturnsAPI",
      "x-displayName": "FBO ve FBS ürünlerinin iadeleri"
    },
    {
      "name": "RFBSReturnsAPI",
      "x-displayName": "rFBS ürünlerinin iadeleri"
    },
    {
      "name": "CancellationAPI",
      "x-displayName": "İptal başvurularını"
    },
    {
      "name": "PolygonAPI",
      "x-displayName": "Poligonlar"
    },
    {
      "name": "SupplierAPI",
      "x-displayName": "Fatura"
    },
    {
      "name": "ChatAPI",
      "x-displayName": "Alıcılarla sohbet",
      "description": "Daha fazla yöntem [**Premium yöntemler**](#tag/Premium) bölümünde."
    },
    {
      "name": "ReportAPI",
      "x-displayName": "Raporlar"
    },
    {
      "name": "AnalyticsAPI",
      "x-displayName": "Analitik raporlar",
      "description": "Daha fazla yöntem [**Premium yöntemler**](#tag/Premium) bölümünde."
    },
    {
      "name": "FinanceAPI",
      "x-displayName": "Finansal raporlar",
      "description": "Daha fazla yöntem [**Premium yöntemler**](#tag/Premium) bölümünde."
    },
    {
      "name": "AccessTokenAPI",
      "x-displayName": "API için token"
    },
    {
      "name": "News",
      "x-displayName": "Güncellemeler",
      "description": "## 15 Aralık 2025\n\n| Yöntem                                                                         | Neler değişti                                  |\n|-------------------------------------------------------------------------------|------------------------------------------------|\n| [/v1/warehouse/warehouses-with-invalid-products](#operation/WarehouseWithInvalidProducts) | FBS teslimat kısıtlamaları olan ürünlerin bulunduğu depoların listesini almak için bir beta yöntemi eklendi.|\n\n## 12 Aralık 2025\n\n| Yöntem                                                                         | Neler değişti                                                                     |\n|--------------------------------------------------------------------------------|-----------------------------------------------------------------------------------|\n| [/v1/finance/balance](#operation/GetFinanceBalanceV1)                            | Bilançoyu almak için bir beta yöntemi eklendi. |\n| [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList)                             | Yöntem açıklaması güncellendi.                 |\n| [/v1/returns/list](#operation/returnsList)  | Yöntem isteğindeki `filter.visual_status_name` parametresinin `ReturnCompensated` değeri kaldırıldı.             |\n\n## 4 Aralık 2025\n\n| Yöntem                                                                         | Neler değişti                                                                     |\n|--------------------------------------------------------------------------------|-----------------------------------------------------------------------------------|\n| [/v1/product/stairway-discount/by-quantity/set](#operation/ProductAPI_SetProductStairwayDiscountByQuantity)  | Ürün miktarına bağlı indirimi yönetmek için bir beta yöntemi eklendi.             |  \n| [/v1/product/stairway-discount/by-quantity/get](#operation/ProductAPI_GetProductStairwayDiscountByQuantity)  | Ürün miktarına bağlı indirim hakkında bilgi almak için bir beta yöntemi eklendi.  |\n\n\n## 27 Kasım 2025\n\n| Yöntem                                                                                                                                                      | Neler değişti                                                                                                                                                                                                                                                      |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | Yöntem yanıtında:<ul><li>`result.analytics_data.payment_type_group_name` parametresinin açıklaması güncellendi;</li><li>`result.analytics_data.client_delivery_date_begin` ve `result.analytics_data.client_delivery_date_end` parametreleri eklendi.</li></ul>    |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | Yöntem yanıtlarında:<ul><li>`result.analytics_data.payment_type_group_name` parametresinin açıklaması güncellendi;</li><li>`result.analytics_data.client_delivery_date_begin` ve `result.analytics_data.client_delivery_date_end` parametreleri eklendi.</li></ul> |   \n\n## 25 Kasım 2025\n\n| Yöntem                                                                          | Neler değişti                    |\n|---------------------------------------------------------------------------------|----------------------------------|\n| [/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes)  | Yöntemin açıklaması güncellendi. |\n\n## 21 Kasım 2025\n\n| Yöntem                                                                | Neler değişti                                                                        |\n|-----------------------------------------------------------------------|--------------------------------------------------------------------------------------|\n| —                                                                     | FBP teslimatlarıyla çalışmak için [beta yöntemleri](#tag/DeliveryFBPDraft) eklendi.  |\n| [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks) | Yöntem yanıtındaki `items.stocks.type` parametresinin açıklaması güncellendi.        |    \n\n## 20 Kasım 2025\n\n| Yöntem                                                                                                                                                              | Neler değişti                                                                                                                                                   |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/rating/index/fbs/info](#operation/RatingAPI_GetFBSRatingIndexInfoV1)<br>[/v1/rating/index/fbs/posting/list](#operation/RatingAPI_ListFBSRatingIndexPostingsV1) | FBS ve rFBS hata endeksiyle çalışmak için beta yöntemleri eklendi.                                                                                              |    \n| [/v1/returns/list](#operation/returnsList)                                                                                                                          | Yöntem isteğine `filter.compensation_status_id` parametresi eklendi.<br>Yöntem yanıtındaki `returns.compensation_status` parametresinin açıklaması güncellendi. |    \n\n## 18 Kasım 2025\n\n| Yöntem                                                                         | Neler değişti                                                              |\n|--------------------------------------------------------------------------------|----------------------------------------------------------------------------|\n| [/v1/report/info](#operation/ReportAPI_ReportInfo)      | Yöntem yanıtına `result.expires_at` parametresi eklendi. |    \n| [/v1/report/list](#operation/ReportAPI_ReportList)  | Yöntem yanıtına `result.reports.expires_at` parametresi eklendi. |\n\n## 13 Kasım 2025\n\n| Yöntem                                                                                                                                                                                                                                                                              | Neler değişti                               |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------|\n| [/v1/analytics/average-delivery-time](#operation/AnalyticsAPI_AverageDeliveryTime) <br> [/v1/analytics/average-delivery-time/details](#operation/AnalyticsAPI_AverageDeliveryTimeDetails) <br> [/v1/analytics/average-delivery-time/summary](#operation/AverageDeliveryTimeSummary) | Yöntem, beta bölümünden ana bölüme taşındı. |  \n\n## 12 Kasım 2025\n\n| Yöntem                                                                         | Neler değişti                                                                  |\n|--------------------------------------------------------------------------------|--------------------------------------------------------------------------------|\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList)      | Yöntem yanıtındaki `items.marketing_price` parametresi kullanımdan kaldırıldı, belgelerden çıkartıldı.  |    \n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)  | Yöntem yanıtındaki `price.marketing_price` parametresi kullanımdan kaldırıldı, belgelerden çıkartıldı.  |\n\n## 11 Kasım 2025\n\n| Yöntem                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    | Neler değişti                                           |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------|\n| [/v1/search-queries/text](#operation/SearchQueriesAPI_SearchQueriesText)<br>[/v1/search-queries/top](#operation/SearchQueriesAPI_SearchQueriesTop)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        | Arama sorgularıyla çalışmaya yönelik yöntemler eklendi. |\n| [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData)<br>[/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage)<br>[/v1/chat/send/file](#operation/ChatAPI_ChatSendFile)<br>[/v1/chat/start](#operation/ChatAPI_ChatStart)<br>[/v3/chat/history](#operation/ChatAPI_ChatHistoryV3)<br>[/v2/chat/read](#operation/ChatAPI_ChatReadV2)<br>[/v1/finance/realization/by-day](#operation/FinanceAPI_GetRealizationByDayReportV1)<br>[/v1/review/comment/create](#operation/ReviewAPI_CommentCreate)<br>[/v1/review/comment/delete](#operation/ReviewAPI_CommentDelete)<br>[/v1/review/comment/list](#operation/ReviewAPI_CommentList)<br>[/v1/review/change-status](#operation/ReviewAPI_ReviewChangeStatus)<br>[/v1/review/count](#operation/ReviewAPI_ReviewCount)<br>[/v1/review/info](#operation/ReviewAPI_ReviewInfo)<br>[/v1/review/list](#operation/ReviewAPI_ReviewList) | Yöntem açıklamaları güncellendi.                        |\n\n## 1 Kasım 2025\n\n| Yöntem | Neler değişti |\n|-------|----------------|\n| [/v1/assembly/carriage/posting/list](#operation/AssemblyCarriagePostingList) <br> [/v1/assembly/carriage/product/list](#operation/AssemblyCarriageProductList) <br> [/v1/assembly/fbs/posting/list](#operation/AssemblyFbsPostingList) <br> [/v1/assembly/fbs/product/list](#operation/AssemblyFbsProductList) | FBS ürün listeleriyla çalışmaya yönelik beta yöntemleri eklendi.|\n\n## 28 Ekim 2025\n\n| Yöntem                                                                         | Neler değişti                                                                  |\n|--------------------------------------------------------------------------------|--------------------------------------------------------------------------------|\n| [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) | Yöntem isteğindeki `filter.is_express` parametresinin açıklaması güncellendi.  |\n\n## 23 Ekim 2025\n\n| Yöntem | Neler değişti |\n|--------|---------------|\n| [/v1/report/marked-products-sales/create](#operation/CreateCompanyMarkedProductsSalesReport) | Etiketli ürünlerin satış raporunu almak için bir beta yöntemi eklendi. |\n| [/v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs) | İsteğe `offer_id` parametresi, yöntem yanıtına ise `results.offer_id` parametresi eklendi.  |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | Yöntem yanıtındaki `result.substatus` parametresinin açıklaması güncellendi.                                                                                                                                                              |    \n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)<br>[/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | Yöntem yanıtındaki `result.postings.substatus` parametresinin açıklaması güncellendi.                                                                                                                                                     |\n| [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4)<br>[/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage)               | Yöntem açıklamaları güncellendi.                                                                                                                                                                                                          |\n| —                                                                                                                                                           | [**Sık karşılaşılan hatalar**](#tag/Errors) bölümünehata açıklaması ekledik `error limiting: acquire limit per item: items limit: limit exceeded` bu yöntem için [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices). |\n\n## 22 Ekim 2025\n\n| Yöntem                                                                   | Neler değişti                                                                       |\n|--------------------------------------------------------------------------|-------------------------------------------------------------------------------------|\n| [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices)  | Yöntem isteğine `prices.manage_elastic_boosting_through_price` parametresi eklendi. |\n\n## 21 Ekim 2025\n\n| Yöntem | Neler değişti |\n|--------|---------------|\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | Yöntem yanıtın `result.postings.shipment_date_without_delay` parametresi eklendi. |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3) | Yöntem yanıtına `result.shipment_date_without_delay` parametresi eklendi. |\n| — | [**Push bildirimler → Yeni gönderi**](#section/Yeni-gonderi) bölümünde bildirim örneği güncellendi. |\n\n## 17 Ekim 2025\n\n| Yöntem                                                                           | Neler değişti                                                                                                                                           |\n|--------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/warehouse/fbs/create/drop-off/timeslot/list](#operation/WarehouseFbsCreateDropOffTimeslotList) <br> [/v1/warehouse/fbs/update/drop-off/timeslot/list](#operation/WarehouseFbsUpdateDropOffTimeslotList) <br> [/v1/warehouse/fbs/create/pick-up/timeslot/list](#operation/WarehouseFbsCreatePickUpTimeslotList) <br> [/v1/warehouse/fbs/update/pick-up/timeslot/list](#operation/WarehouseFbsUpdatePickUpTimeslotList)| Zaman aralıklarıyla çalışmak için beta yöntemleri eklendi.                                                                                              |\n|[/v2/warehouse/list](#operation/WarehouseListV2) | Yöntem yanıtına `warehouses.cut_in_time`, `warehouses.warehouse_type`, `warehouses.is_comfort` ve `warehouses.is_express` parametreleri eklendi. |\n| [/v1/warehouse/fbs/create](#operation/WarehouseAPI_CreateWarehouseFBS) <br> [/v1/warehouse/fbs/first-mile/update](#operation/UpdateWarehouseFBSFirstMile)| Yöntem isteklerine `сut_in_time`  ve `timeslot_id` parametreleri eklendi.   |  \n\n## 16 Ekim 2025\n\n| Yöntem                                                                                                                                                     | Neler değişti                                                                                                        |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                               | Yöntem yanıtındaki `result.financial_data.products.product_id` parametresinin açıklaması güncellendi.                |    \n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | Yöntem yanıtındaki `result.postings.financial_data.products.product_id` parametresinin açıklaması güncellendi. |\n| [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5)                                                     | Yöntem yanıtındaki `products.exemplars.marks` parametresinin açıklaması güncellendi.                           |\n| [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6)                                                               | Yöntem isteğindeki `products.exemplars.marks` parametresinin açıklaması güncellendi.                            |\n| [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode)                                                                             | Yöntem yanıtından `result.analytics_data` ve `result.financial_data` parametreleri kaldırıldı. |\n| [/v3/chat/list](#operation/ChatAPI_ChatListV3)                                                                                                             | Yöntem isteğindeki `limit` parametresinin açıklaması güncellendi.   |\n\n## 14 Ekim 2025\n\n| Yöntem                                                                          | Neler değişti                                                                                                                                                     |\n|---------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/finance/realization](#operation/FinanceAPI_GetRealizationReportV2)         | `result.header.doc_amount` ve `result.header.vat_amount` parametreleri güncelliğini yitiriyor bu nedenle onları 14 Aralık 2025 itibarıyla devre dışı bırakacağız. |    \n| [/v1/finance/realization/posting](#operation/FinanceAPI_GetRealizationReportV1) | `header.doc_amount` ve `header.vat_amount` parametreleri güncelliğini yitiriyor bu nedenle onları 14 Aralık 2025 itibarıyla devre dışı bırakacağız.               |\n\n## 10 Ekim 2025\n\n| Yöntem | Neler değişti                                                                                                                  |\n|--------|--------------------------------------------------------------------------------------------------------------------------------|\n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)      | Yöntem yanıtına `items.comissions.sales_percent_fbp` ve `items.comissions.sales_percent_rfbs` parametreleri eklendi.<br>Yöntem yanıtındaki `SUPER` parametresi için olası bir değer olan `items.price_indexes.color_index` değeri eklendi.       |\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList)      | Yöntem yanıtındaki `COLOR_INDEX_SUPER` parametresi için olası bir değer olan `items.price_indexes.color_index` değeri eklendi. |\n\n## 9 Ekim 2025\n\n| Yöntem | Neler değişti                                                                                                                                                    |\n|--------|------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —      | [**Alıcılarla sohbet**](#tag/ChatAPI), [**Analitik raporlar**](#tag/AnalyticsAPI) ve [**Finansal raporlar**](#tag/FinanceAPI) bölümlerinin açıklamaları eklendi. |\n\n## 8 Ekim 2025\n\n| Yöntem                                                                     | Neler değişti                                                                                                |\n|----------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------|\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3)               | Yöntem isteğindeki `items.images` parametresinin açıklaması güncellendi.<br>Yöntemin açıklaması güncellendi. |\n| [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) | Yöntem isteğindeki `images` parametresinin açıklaması güncellendi.<br>Yöntemin açıklaması güncellendi.       |\n\n## 7 Ekim 2025\n\n| Yöntem                                                                       | Neler değişti                                                   |\n|-----------------------------------------------------------------------------|------------------------------------------------------------------|\n| [/v1/product/info/warehouse/stocks](#operation/ProductInfoWarehouseStocks) | FBS ve rFBS depolarındaki stokları almak için bir beta yöntemi eklendi. |\n\n## 6 Ekim 2025\n\n| Yöntem                                                                | Neler değişti                                                                                                          |\n|-----------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------|\n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices) | `items.price.marketing_price` parametresi güncelliğini yitiriyor bu nedenle onu 12 Kasım 2025'te devre dışı bırakacağız. |\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList)     | `items.marketing_price` parametresi güncelliğini yitiriyor bu nedenle onu 12 Kasım 2025'te devre dışı bırakacağız.      |\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) | Yöntem yanıtına `items.availabilities` parametresi eklendi. |\n\n## 1 Ekim 2025\n\n| Yöntem                                                       | Neler değişti                                                          |\n|--------------------------------------------------------------|------------------------------------------------------------------------|\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3) | Yöntem isteğindeki `items.name` parametresinin açıklaması güncellendi. |\n\n## 29 Eylül 2025\n\n| Yöntem                                                                                                                                                    | Neler değişti                                                                                                                                                          |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)<br>[v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | Yöntem yanıtına `result.postings.products.imei` ve `result.postings.requirements.products_requiring_imei` parametreleri eklendi.                                       |\n| [v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                              | Yöntem yanıtına `result.products.has_imei`, `result.product_exemplars.products.exemplars.imei` ve `result.requirements.products_requiring_imei` parametreleri eklendi. |\n| [v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6)                                            | `products.exemplars.marks` parametresinin açıklaması güncellendi ve yöntem yanıtına `products.has_imei` parametresi eklendi.                                           |\n| [v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5)                                                    | Yöntem isteği ve yanıtındaki `products.exemplars.marks` parametresinin açıklaması güncellendi.                                                                         |\n| [v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6)                                                                    | Yöntem isteğinde `products.exemplars.marks` parametresinin açıklamaları güncellendi.                                                                                     |\n| [v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5) | Yöntem yanıtındaki `products.exemplars.marks` parametresinin açıklamaları güncellendi.                                                                                                |\n| [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) | Yöntem isteğine `filter.warehouse_id`, `filter.delivery_method_id`, `filter.is_express`, `with.additional_data`, `with.analytics_data`, `with.customer_data` ve `with.jewelry_codes` parametreleri eklendi. |\n\n## 24 Eylül 2025\n\n| Yöntem | Neler değişti                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |\n|---|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/returns/rfbs/list](#operation/RFBSReturnsAPI_ReturnsRfbsListV2)                                                                        | Yöntem isteğindeki `last_id` parametresinin açıklaması güncellendi.<br>Yanıt örneği güncellendi. |\n| [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2)<br>[/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks) | Yanıt örnekleri güncellendi.                                                                     |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)| Yöntem yanıtlarında `result.postings.status` ve `result.postings.substatus` parametre açıklamaları güncellendi.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3) | Yöntem yanıtına: <br> • `result.financial_data.products.customer_price` parametresi eklendi; <br> • `result.requirements.products_requiring_gtd`, `result.requirements.products_requiring_mandatory_mark`, `result.requirements.products_requiring_jw_uin`, `result.requirements.products_requiring_rnpt`, `result.status`, `result.substatus`, `result.previous_substatus`, `result.financial_data.products.price`, `result.financial_data.products.old_price`, `result.customer.phone`, `result.addressee.phone` ve `result.products.is_marketplace_buyout` parametre açıklamaları güncellendi.                         |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | Yöntem yanıtına: <br> • `result.postings.financial_data.products.customer_price` parametresi eklendi; <br> • `result.postings.requirements.products_requiring_gtd`, `result.postings.requirements.products_requiring_mandatory_mark`, `result.postings.requirements.products_requiring_jw_uin`, `result.postings.requirements.products_requiring_rnpt`, `result.postings.financial_data.products.price`, `result.postings.financial_data.products.old_price`, `result.postings.customer.phone`, `result.postings.addressee.phone` ve `result.postings.products.is_marketplace_buyout` parametre açıklamaları güncellendi. |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)| Yöntem yanıtında `result.postings.customer.phone`, `result.postings.addressee.phone`, `result.postings.products.is_marketplace_buyout` ve `result.products.is_marketplace_buyout` parametre açıklamaları güncellendi.                                                                                                                                                                                                                                                                                                                                                                                                     |\n| [/v2/finance/realization](#operation/FinanceAPI_GetRealizationReportV2) | Yöntem yanıtında `result.rows.delivery_commission.commission`, `result.rows.delivery_commission.compensation`, `result.rows.return_commission.commission` ve `result.rows.return_commission.compensation` parametre açıklamaları güncellendi.                                                                                                                                                                                                                                                                                                                                                                             |\n| [/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota) | Yöntem yanıtında `total.limit`, `daily_create.limit` ve `daily_update.limit` parametre açıklamaları güncellendi.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |\n| [/v2/chat/history](#operation/ChatAPI_ChatHistoryV2)<br>[/v3/chat/history](#operation/ChatAPI_ChatHistoryV3) | Yöntem isteklerinde `from_message_id` parametre açıklaması güncellendi.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |\n| [/v1/analytics/product-queries](#operation/AnalyticsAPI_AnalyticsProductQueries)<br>[/v1/analytics/product-queries/details](#operation/AnalyticsAPI_AnalyticsProductQueriesDetails) | Yöntem isteklerinde `page` ve `page_size` parametre açıklamaları güncellendi. İstek örneği güncellendi.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3) | Yöntem isteğinde `items.price` parametresi zorunlu olarak işaretlendi. <br> Yöntem yanıtında `result.task_id` parametre açıklaması güncellendi.                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |\n| [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) | Yöntem isteğinde `return_id` parametre açıklaması güncellendi.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |\n| [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering)<br>[/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile)<br>[/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered) <br> [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel) | Yöntem açıklamaları güncellendi.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |\n| [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) | Yöntem yanıtında `status` parametre açıklaması güncellendi.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |\n| [/v1/actions/products/activate](#operation/PromosProductsActivate) | Yöntem isteğinde `products` parametresi için sınırlar eklendi.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |\n| — | [**Sık karşılaşılan hatalar**](#tag/Errors) bölümünde [/v3/product/import](#operation/ProductAPI_ImportProductsV3) yöntemi için `price_is_negative` hata açıklaması eklendi. [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4) yöntemi için `TRANSITION_IS_NOT_POSSIBLE` hata açıklaması güncellendi.                                                                                                                                                                                                                                                                                                        |\n\n## 17 Eylül 2025\n\n| Yöntem | Neler değişti                                                                                                                                                                                                                                                     |\n|--------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —      | **Push-bildirimler → Ozon tarafından gönderilen bildirimler → Ürün fiyat endeksi değişikliği** bölümü kaldırıldı.<br>`TYPE_PRICE_INDEX_CHANGED`bildirimi, [**Push-bildirimler → Ozon tarafından gönderilen bildirimler**](#tag/push_types) bölümünden kaldırıldı. |\n\n## 12 Eylül 2025\n\n| Yöntem                                         | Neler değişti                                                   |\n|------------------------------------------------|-----------------------------------------------------------------|\n| —                                              | [**API anahtar bilgileri**](#tag/APIkey)adlı bir bölüm eklendi. |\n| [/v1/roles](#operation/AccessAPI_RolesByToken) | Yöntem, beta bölümünden ana bölüme taşındı.                     |\n\n## 3 Eylül 2025\n\n| Yöntem                                                                | Neler değişti                                                                                                                                                                            |\n|-----------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| /v1/conditional-cancellation/get<br>/v1/conditional-cancellation/list | Yöntemler kullanımdan kaldırıldı, belgelerden çıkartıldı. [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2) yöntemini kullanın.           |\n| /v1/conditional-cancellation/approve                                  | Yöntem güncelliğini yitirdi bu nedenle dokümantasyon kaldırıldı. [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2) yöntemini kullanın. |\n| /v1/conditional-cancellation/reject                                   | Yöntem güncelliğini yitirdi bu nedenle dokümantasyon kaldırıldı. [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2) yöntemini kullanın.   |\n\n## 27 Ağustos 2025\n\n| Yöntem                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  | Neler değişti                                                                                                                                               |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       | FBS depoları ile çalışma prosedürü, [**Yöntemleriyle çalışma düzeni → FBS depoları ile çalışma**](#section/FBS-depolari-ile-calisma) bölümünde açıklanmıştır. |\n| [/v1/warehouse/fbs/create/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForCreateFBSWarehouse)<br>[/v1/warehouse/fbs/update/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForUpdateFBSWarehouse)<br>[/v1/warehouse/fbs/create](#operation/WarehouseAPI_CreateWarehouseFBS) <br> [/v1/warehouse/fbs/update](#operation/UpdateWarehouseFBS) <br> [/v1/warehouse/operation/status](#operation/GetWarehouseFBSOperationStatus) <br> [/v2/warehouse/list](#operation/WarehouseListV2) <br> [/v1/warehouse/fbs/first-mile/update](#operation/UpdateWarehouseFBSFirstMile) <br> [/v1/warehouse/archive](#operation/ArchiveWarehouseFBS) <br> [/v1/warehouse/unarchive](#operation/UnarchiveWarehouseFBS) | FBS depoları ile çalışmaya yönelik çeşitli yöntemler eklendi.                                                                                               |\n\n\n## 21 Ağustos 2025\n\n| Yöntem                                                                                                                   | Neler değişti                                                                  |\n|-------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------|\n| [/v1/carriage/set-postings](#operation/CarriageAPI_SetPostings) | Sevkiyat içeriğini değiştirme yöntemi eklendi. |\n| [/v1/carriage/cancel](#operation/CarriageAPI_CarriageCancel) | Sevkiyat silme yöntemi eklendi. |\n| [/v1/product/action/timer/status](#operation/ProductAPI_ActionTimerStatus) | Ayarlanan zamanlayıcının durum bilgisini alma yöntemi eklendi. |\n| [/v1/product/action/timer/update](#operation/ProductAPI_ActionTimerUpdate) | Minimum fiyatın geçerlilik süresi zamanlayıcısını güncellemek için bir yöntem eklendi. |\n\n## 15 Ağustos 2025\n\n| Yöntem | Neler değişti |\n|--------|----------------|\n| — | [**Premium yöntemler**](#tag/Premium) bölümü eklendi ve Premium abonelikle kullanılabilen yöntemler bu bölüme taşındı. |\n\n## 14 Ağustos 2025\n\n| Yöntem | Neler değişti |\n|--------|----------------|\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) | Yöntem yanıtına `items.promotions`, `items.promotions.is_enabled`, `items.promotions.type` ve `items.sku` parametreleri eklendi. |\n\n## 5 Ağustos 2025\n\n| Yöntem                                                        | Neler değişti                    |\n|---------------------------------------------------------------|----------------------------------|\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList)                                                        | Yöntem yanıtındaki `items.is_prepayment_allowed` parametresi güncelliğini yitirdi olarak işaretlendi. |\n\n## 1 Ağustos 2025\n\n| Yöntem                                                        | Neler değişti                    |\n|---------------------------------------------------------------|----------------------------------|\n| [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList) <br>[/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) <br> [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) | Yöntem açıklamaları güncellendi. |\n\n## 30 Temmuz 2025\n\n| Yöntem                                                                              | Neler değişti                                |\n|--------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/analytics/average-delivery-time/summary](#operation/AverageDeliveryTimeSummary) | Ortalama teslimat süresine ilişkin genel analitiği almak için bir beta yöntemi eklendi. |\n\n## 28 Temmuz 2025\n\n| Yöntem                                                        | Neler değişti                    |\n|---------------------------------------------------------------|----------------------------------|\n| [/v3/chat/list](#operation/ChatAPI_ChatListV3)  | Belirtilen filtreler ile sohbet bilgilerini almak için yöntemin yeni bir sürümü eklendi.                       |\n| [/v2/chat/list](#operation/ChatAPI_ChatListV2) | Bu yöntem gelecekte devre dışı bırakılacaktır. [/v3/chat/list](#operation/ChatAPI_ChatListV3) yöntemine geçin. |\n| [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) | Yöntemin açıklaması güncellendi. |\n\n## 23 Temmuz 2025\n\n| Yöntem                                                                                                                                                                                                                                                                                                                                      | Neler değişti                               |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------|\n| [/v1/analytics/product-queries](#operation/AnalyticsAPI_AnalyticsProductQueries)<br>[/v1/analytics/product-queries/details](#operation/AnalyticsAPI_AnalyticsProductQueriesDetails)<br>[/v1/finance/compensation](#operation/ReportAPI_GetCompensationReport)<br>[/v1/finance/decompensation](#operation/ReportAPI_GetDecompensationReport) | Yöntem, beta bölümünden ana bölüme taşındı. |\n\n## 22 Temmuz 2025\n\n| Yöntem                                                                                | Neler değişti                               |\n|--------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes) | Yöntem yanıtındaki `result.id` parametresinin açıklaması güncellendi. |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3) | Yöntem yanıtındaki `result.requirements.products_requiring_change_country` parametresinin açıklaması güncellendi. |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | Yöntem yanıtlarındaki `result.postings.requirements.products_requiring_change_country` ve `result.postings.financial_data.products.actions` parametrelerinin açıklaması güncellendi.  |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3) | Yöntem yanıtlarındaki `result.financial_data.products.actions` parametresinin açıklaması güncellendi. |\n\n## 15 Temmuz 2025\n\n| Yöntem                                                                              | Neler değişti                                |\n|-------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/finance/realization/by-day](#operation/FinanceAPI_GetRealizationByDayReportV1) | Yöntem, beta bölümünden ana bölüme taşındı.  |\n\n## 14 Temmuz 2025\n\n| Yöntem                                         | Neler değişti                                                                               |\n|------------------------------------------------|---------------------------------------------------------------------------------------------|\n| [/v1/roles](#operation/AccessAPI_RolesByToken) | API anahtarına bağlı rollerin ve yöntemlerin listesini almak için bir beta yöntemi eklendi. |\n\n## 2 Temmuz 2025\n\n| Yöntem                                                                                                                                                      | Neler değişti                                                                                         |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | Yöntem yanıtına `result.requirements.products_requiring_change_country` parametresi eklendi.          |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)<br>[/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | Yöntem yanıtına `result.postings.requirements.products_requiring_change_country` parametresi eklendi. |\n\n## 1 Temmuz 2025\n\n| Yöntem                                                                    | Neler değişti                                                                                                                                                                  |\n|---------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| /v1/product/upload_digital_codes<br>/v1/product/upload_digital_codes/info | Yöntemler güncelliğini yitirdi bu nedenle dokümantasyondan kaldırıldı.                                                                                                         |\n| —                                                                         | Yöntemlerle çalışmaya ilişkin açıklama [**Yöntemleriyle çalışma düzeni → Ürünleri yükleyin ve güncelleyin**](#section/Urunleri-yukleyin-ve-guncelleyin) bölümünde güncellendi. |\n\n## 25 Haziran 2025\n\n| Yöntem | Neler değişti                                                                                                                                                                                                          |\n|--------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —      | [**Sık karşılaşılan hatalar**](#tag/Errors) bölümüne [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive) yöntemi için `restore limit exceeded` ve `total limit exceeded` hatalarının açıklamaları eklendi. |\n\n## 23 Haziran 2025\n\n| Yöntem                                                        | Neler değişti                                                                                                                                                                                      |\n|---------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)  | Yöntem yanıtındaki `result.shipment_date` parametresinin açıklaması güncellendi.                                                                                                                   |\n| [Sık karşılaşılan hatalar](#tag/Errors)                       | `Stock is updated too frequently` hatasının açıklaması eklendi ve [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) yöntemi için `TOO_MANY_REQUESTS` hatasının açıklaması güncellendi. |\n\n## 20 Haziran 2025\n\n| Yöntem                                                                               | Neler değişti                                                                                                                                                                                              |\n|--------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/barcode/add](#operation/add-barcode)                                            | Barkodları ürünlere bağlama yöntemi eklendi.                                                                                                                                                               |\n| [/v1/barcode/generate](#operation/generate-barcode)                                  |
[...]
